[2018-09-03 13:17] selombanybah opened #537 "Completely delete a product"
Hi,
I'm still new to the application, please is there a simple way to completely delete a product? I mean hard delete.  If not I will have to write the sql query to delete product and linked data

[2018-09-03 18:30] thiennn commented on #537
Why you want to do hard delete the product. It's not easy because there are too many table depend on it

[2018-09-04 18:10] selombanybah commented on #537
You are right. Its just in a scenario where I finish testing with products data and want to clean database for production. In that case, I do not want to delete things like product attributes and options but only the products and categories. I can import new products for production in excel files (using https://github.com/SheetJS/js-xlsx)

[2018-09-04 18:37] #537 closed

[2018-09-04 21:02] MikoSharp opened #538 "error MSB3073: The command "npm run gulp-copy-modules -- --configurationName Debug" exited with code 134"
I'm following the super detailed installation guide:  https://docs.simplcommerce.com/en/latest/getting-started/     to Linux. and my vps is: Ubuntu 16.04 4GB 30GB

![sin titulasdasd](https://user-images.githubusercontent.com/11472688/45057471-55a21c00-b05b-11e8-9419-25b655abba77.png)

installed
dotnet --version 2.1.401
node --version v10.9.0
PostgreSQL 9.5.14 on x86_64-pc-linux-gnu, compiled by gc

[2018-09-04 21:49] thiennn commented on #537
@selombanybah to clean up the database, you can prefer to the script https://github.com/simplcommerce/SimplCommerce/blob/master/src/Modules/SimplCommerce.Module.SampleData/SampleContent/Fashion/ResetToSampleData.sql and modify it according your need

[2018-09-04 21:51] thiennn commented on #538
@MikoSharp Please run the command "npm run gulp-copy-modules -- --configurationName Debug" in the terminal at SimplCommerce.WebHost so that we can see the detail error

[2018-09-04 22:29] MikoSharp commented on #538
![abcbroncol](https://user-images.githubusercontent.com/11472688/45060950-ea127b80-b067-11e8-8d1c-14019b9d59c6.png)
I try 5 hours, I try google and documentation.

[2018-09-04 22:36] thiennn commented on #538
Please uninstall node v10.9.0 and install node 8.11.4 (the LTS version)

[2018-09-05 02:31] MikoSharp commented on #538
I create new vps, and install node 8.11.4. and is ok result "sudo ./simpl-build.sh"
but in "In the terminal, navigate to the "src/SimplCommerce.WebHost" type "dotnet run" and hit "Enter"."
![newerror](https://user-images.githubusercontent.com/11472688/45067659-b5afb700-b089-11e8-8787-c71a38b9b836.png)

[2018-09-05 02:51] thiennn commented on #538
It's seem that the connection string for Postgres isn't correct

[2018-09-05 14:17] thiennn opened #539 "Show most viewed product in dashboard for vendor"

[2018-09-05 19:34] justindongqiang commented on #519
I will be working on this story.

[2018-09-05 20:05] MikoSharp commented on #538
@thiennn I try with SDK 2.1.401 .NET Core,
// Is the version necessary? in the Prerequisite to linux, SDK 2.1.1
Thanks thiennn

[2018-09-06 02:44] thiennn commented on #538
SDK 2.1.401 is the correct version. 2.1 is just the general team

[2018-09-06 06:03] #476 closed

[2018-09-06 06:04] #502 closed

[2018-09-06 07:40] #538 closed

[2018-09-06 07:40] #534 closed

[2018-09-06 14:29] fetullahyldz opened #540 "error during installation"
hello i am getting error when installing error code as below

System.InvalidOperationException: 'Unable to determine the relationship represented by' User.UserAddresses' of type 'IList <UserAddress>'. Either manually configure the relationship, or ignore this property using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.Ignore' in 'OnModelCreating'.

[2018-09-06 14:33] thiennn commented on #540
It seems that the modules are not copy to the WebHost correctly. Please describe steps you have been done

[2018-09-06 20:54] #71 closed

[2018-09-07 07:03] fetullahyldz commented on #540
Thanks for your answer But I Get Different Error This Time MSB3073 "npm install" command exited with 9009 code.

[2018-09-07 11:32] thiennn commented on #540
This seem there is a problem with nodejs on your machine

[2018-09-07 12:15] fetullahyldz commented on #540
node.js I've done a lot of updates, but the result might still be the same gulpfile.js error

[2018-09-07 13:44] hishamco commented on #346
I think this a duplicate for #343 but with different theme

[2018-09-07 18:51] footysteve commented on #540
seen a lot of these types of error, it's why I posted this - probably related - Visual Studio 15.8.x breaks task runner - can't load gulpfile.js #528

[2018-09-07 20:10] justindongqiang commented on #519
@thiennn the page for product details is Modules\SimplCommerce.Module.Catalog\Views\Product\ProductDetail.cshtml, do you think to move it to shared view folder so we can reuse it with model window?

[2018-09-08 11:26] thiennn commented on #540
try to run "npm install" in the command windows at the folder SimplCommerce.WebHost

[2018-09-08 13:54] jducobu commented on #525
https://github.com/EtienneCoumont/FacebookWebHooks/blob/master/src/FacebookWebHooks/Controllers/WebHooksController.cs

[2018-09-08 14:55] justindongqiang commented on #519
Sine this is only going to show product overview, I am assuming it has different content with product detail. I will get modal window works first and then let us review what information would be displayed in overview page.

[2018-09-08 15:01] justindongqiang commented on #526
@vascofernandes
Great point and thank you very much for bringing this up. Since we don't have the time and resources, that would be great if you could provide a prototype or some online articles so we could look into it.

@thiennn perhaps you could create a task for this and add tag "Help Wanted" so that me and @vascofernandes could work on this.

Thanks,
Justin

[2018-09-08 18:55] lulzzz commented on #526
I can take a look and see what I come up with that fits into what is being done today.

[2018-09-08 18:56] vascofernandes commented on #526
I can take a look and see what I come up with that fits into what is being done today.

[2018-09-08 19:54] muratcabuk commented on #540
I have got the same error today. I realized NodeJS is not installed in my system :) I installed NodeJS and "dotnet build" command worked. Also I didn't get gulp error again. Im using VS 2017 v 15.8.2.

[2018-09-08 23:06] vascofernandes commented on #536
Since I am working on a proposal for using Typescript with AngularJS in
https://github.com/simplcommerce/SimplCommerce/issues/526 I would suggest to put this on hold and instead go for Web Components as much as possible.

[2018-09-09 15:10] jducobu opened #542 "Add Brand name to ProductDetail in SimplCommerce.Module.Catalog module"
Add and mange BrandDetail (Name and Slug) to ProductDetail in SimplCommerce.Module.Catalog module

[2018-09-09 15:11] jducobu commented on #542
Name and Slug

[2018-09-09 16:15] hishamco opened #545 "Localization Improvements"
I investigate the localization stuff in SimpleCommerce  the time I'm writing this issue, I find there 're some improvements that we can made:

- No need for `ResourceString` while we already have `Resource` model
- Loading all the resources for all the cultures may not preferable in this, we can use load on demand strategy, so whenever a translation is needed for certain culture we will go to data

[2018-09-09 16:40] hishamco commented on #545
I have two questions:
1. `SimpleCulture` needs to be replaced with `Culture` model
2. Why we need `ResourceItemVm`?!!

[2018-09-09 16:48] jducobu opened #546 "Manage Categories in FilterOption when user browse a category"

[2018-09-09 16:49] jducobu opened #547 "Prefix slug"
With category, product, brand ...

[2018-09-09 18:08] hishamco commented on #337
@thiennn are you working on this? or you need some help

[2018-09-09 18:41] thiennn commented on #545
1. agree
2. ResourceItemVm is used as a view model for the https://demo.simplcommerce.com/admin#!/localization page

[2018-09-09 18:43] thiennn commented on #542
I don't get your point. Currently you can select brand for products

[2018-09-09 19:00] hishamco commented on #545
If my earlier comments are fine for you, I will push a PR for that

[2018-09-09 19:52] thiennn commented on #545
Yes, can't wait to see your PR

[2018-09-09 20:37] thiennn commented on #536
for the comments, reviews, for example I think it will be better to not reload the page after added new items. I see Vue is tiny and simple enough for mini spa like this.

[2018-09-09 20:41] thiennn commented on #526
@justindongqiang you can also create tasks, and you can pick any items not just the ones with "Help Wanted" label.

[2018-09-09 20:46] thiennn commented on #519
Yes, it is a simplify version of product details. I think it should contain name, images, variants, short description, prices, add to cart button, add to wishlist, add to compare.

[2018-09-10 02:19] rafsanulhasan opened #550 "Database Migration failed"
Update-Database command is not working. Show following error:
System.InvalidOperationException: Unable to determine the relationship represented by navigation property 'User.UserAddresses' of type 'IList<UserAddress>'. Either manually configure the relationship, or ignore this property using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.Ignore' in 'OnModelCreating'.
   at Microsoft.En

[2018-09-10 02:50] thiennn commented on #550
you will need to copy the module.json of each module to the Host so that modules can be loaded correctly

[2018-09-10 03:17] rafsanulhasan commented on #550
Oh ok, I missed the ste.
Thanks!

[2018-09-10 04:10] thiennn commented on #547
You would like a single prefix for all of them or one for each

[2018-09-10 05:03] hishamco commented on #545
I think I will break down the above point into manageable PRs for simplicity

[2018-09-10 05:41] jducobu commented on #547
One for each the must is using translation

[2018-09-10 14:39] hishamco commented on #550
I have the same issue here, when I build the host application I got an error in:
[code]

@thiennn how can I fix this coz I'm blocked

[2018-09-10 21:06] thiennn commented on #550
@hishamco you will need to have nodejs installed in your PC. You can run this command directly in the command windows at the SimplCommerce.WebHost folder to see the problem in details

[2018-09-10 21:29] hishamco commented on #550
I already did, I got the following exception
![exception](https://user-images.githubusercontent.com/3237266/45325505-b6e55600-b559-11e8-8494-ebf7e551b1ed.png)

[2018-09-10 21:32] thiennn commented on #550
what is the node version on your PC? and please run npm install then run gulp copy ... again

[2018-09-10 21:42] hishamco commented on #550
Node version is `v0.12.2`
I ran the above commands with no luck 😞

[2018-09-10 21:44] thiennn commented on #550
Pleases install node 8.x or 10.x

[2018-09-10 21:56] hishamco commented on #550
I installed version `8.11.4` and it works, I will try to run the migrations now
thanks

[2018-09-10 22:05] hishamco commented on #550
I can confirm that everything is executing smoothly after updating the node, I think we need to close this

[2018-09-10 22:08] #550 closed

[2018-09-10 22:43] thiennn commented on #525
Please add another module for this

[2018-09-11 02:27] hishamco opened #552 "Language Switcher Tag helper"

[2018-09-11 02:28] hishamco opened #553 "Eliminate application restart after modifying the translation"

[2018-09-11 03:30] thiennn commented on #552
What is the benefit of Tag helper over Partial view?

[2018-09-11 03:35] hishamco commented on #552
Hope we will discuss this in details after finishing the localization stuff

[2018-09-11 06:56] thiennn commented on #540
Please make sure you have nodejs 8.x or 10.x installed

[2018-09-11 06:56] #540 closed

[2018-09-11 07:05] thiennn commented on #337
I am thinking about not implement this feature. SimplCommerce supports many databases MS SQL, PostgreSQL, MySQL, SQLite. However, to change database, we have to add the corresponding nuget package, Update the code, UseSqlServer or UseMySql,...

On each release we will include 2 versions of self contained app: 1 for mac, 1 for windows and using SQLite, for users to try out easier. All they need to

[2018-09-11 07:48] rafsanulhasan commented on #550
After running gulp tasks (copy-lib,static,and mmodules), I ran Update Database in WebHost and got the following error.
`Unable to determine the relationship represented by navigation property 'User.UserAddresses' of type 'IList<UserAddress>'. Either manually configure the relationship, or ignore this property using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.Ignore' in 'OnModelCreat

[2018-09-11 07:55] thiennn commented on #550
That error means that modules aren't load correctly. The module loader code can be found here https://github.com/simplcommerce/SimplCommerce/blob/93268fd79af4fe183497c50f565e4c08121e9a6b/src/SimplCommerce.WebHost/Extensions/ServiceCollectionExtensions.cs#L44

[2018-09-11 10:09] osmanrahimi opened #555 "how to add more languages"
1-in the managing Translations page  there are just some languages up to 10 , I wonder to know if I want to add one more language can I do that with admin panel or I have to change the database ?

2- do you have any plan to add `RTL` model   for some languages like `Arabic ` or `Persian`?
thank you

[2018-09-11 11:16] hishamco commented on #337
In `OrchardCode` I see all of the providers are supported out-the-box, so the user is enable to the user can pick the one he prefers without add a nuget packages

[2018-09-11 11:52] hishamco commented on #550
@rafsanulhasan I ran into the same situation, just I removed gulp build from the .csproj task and run it manually in the CMD

[2018-09-11 11:56] hishamco commented on #337
Yep it uses `YesSQL` which I contribute to it too 😄, but If you look into the database access all the providers have been registered

[2018-09-12 06:33] rafsanulhasan commented on #550
@hishamco would you please show me the steps
@thiennn I manually copied the required dll files into the bin folder of SimplCommerce.WebHost\Modules and then run gulp-tasks. It shows:
`System.InvalidOperationException: Unable to determine the relationship represented by navigation property 'Product.ProductLinks' of type 'IList<ProductLink>'. Either manually configure the relationship, or ignore thi

[2018-09-12 06:49] hishamco commented on #550
@rafsanulhasan first of all update the NodeJS, then run `npm run gulp-copy-modules -- --configurationName Debug"`

[2018-09-12 06:55] thiennn commented on #337
I quite sure that in order to use other entity framework core providers than MS SQL Server, we have to pull additional nuget package

[2018-09-12 07:07] hishamco commented on #337
Exactlly

[2018-09-12 07:13] hishamco opened #557 "Language direction"
Some language needs the content to be `RTL`, we need to add a property to determine the current language direction, also we can use the culture & language to add some metadata into an HTML document

[2018-09-12 07:15] hishamco commented on #555
1- Have a look to a `Database` folder there 're database scripts per culture
2- Issue #557

[2018-09-12 07:16] rafsanulhasan commented on #550
@hishamco
I have node version 9.3.0....
didn't work

[2018-09-12 07:28] hishamco commented on #550
Could you let me know what happen when you execute the above command in npm?

[2018-09-12 08:01] rafsanulhasan commented on #550
gulp worked when I changed [line 61](https://github.com/simplcommerce/SimplCommerce/blob/master/src/SimplCommerce.WebHost/gulpfile.js#line61) to `if (module.isBundledWithHost) {`

**update-database** failed with following:
`System.InvalidOperationException: Unable to determine the relationship represented by navigation property 'Product.ProductLinks' of type 'IList<ProductLink>'. Either manually c

[2018-09-12 08:11] hishamco commented on #550
Does all the module(s).json copied into the `Modules` folder? If yes be sure the `SimplCommerce.WebHost` project is selected when you run the `update-database` command

[2018-09-12 08:18] rafsanulhasan commented on #550
Yes all modules are copied into `Modules` folder.
I have tried everything as you suggested but no luck.

[2018-09-12 10:00] #545 closed

[2018-09-12 10:47] thiennn opened #558 "Dependency problem in EfRequestCultureProvider"
It's seem that the EfRequestCultureProvider is called too early that the HttpContext.User hasn't been filled. The WorkContext is also not resolved per request as expected. Maybe it being resolved before asp.net core start the dependency Scope.

cc @hishamco

[2018-09-12 10:54] hishamco commented on #553
Thinking to add all the predefined cultures in .NET into the localization service to avoid restarting the application. Doing this will allow adding or removing the cultures & translations from the admin (no restart required)

What do you think @thiennn?

[2018-09-12 10:56] hishamco commented on #558
Perhaps the middleware order, but I didn't ran into an issue with this, Do you have a certain scenario where this throws an exception?

[2018-09-12 10:59] thiennn commented on #558
Testing on my laptop. The user return by the WorkingContext is differ from the HttpContext.User. Debug through the code, I see the problem.

[2018-09-12 11:03] hishamco commented on #558
But this may related to how the user is set in `WorkContext`

[2018-09-12 11:41] thiennn commented on #553
Adding all the predefined cultures in .NET seem too much. I think only support update translations only fly is fine. Normally adding more culture is a big task and not used often, I think having to restart for this case acceptable

[2018-09-12 12:43] #558 closed

[2018-09-12 13:46] rafsanulhasan opened #560 "Gulpfile"
the line
https://github.com/simplcommerce/SimplCommerce/blob/2c246554b00f860d215585db7e5e959785e5793a/src/SimplCommerce.WebHost/gulpfile.js#L61

should be changed to `if (module.isBundledWithHost) {`
other wise it does not copy dlls from **Modules** to **WebHost/Modules**

[2018-09-12 14:16] thiennn commented on #560
If the module is bundled with host. That module should be added as project reference in the WebHost. Then its dll already in the WebHost, so no copy needed.

[2018-09-12 18:30] justindongqiang commented on #519
Pull request #561 created.

[2018-09-12 19:15] justindongqiang commented on #526
@vascofernandes sounds great! I look forward to seeing your PoC.

Thanks,
Justin

[2018-09-13 02:28] rafsanulhasan commented on #560
Okay, so only SampleData is being copid to WebHost for the time being. When I run Update-Database from PMC defaulting the WebHost project, it shows up an error and ends up with failing database migration. What could be the workaround to fix this issue?

[2018-09-13 02:40] rafsanulhasan opened #562 "[Question + Enhancement] Angular SPA Template provided by VS"
Hi @thiennn
After going through the WebHost project, I found that it is using Angular (downloaded via LibMan) and also using jQuery. My question is:

1. Why the VS SPA template for Angular is not being used to setup the an Angular project (Or why Angular is not being used through NPM)
2. If this is built with Angular, why using jQuery since Angular is one of the powerful SPA framework built on the

[2018-09-13 02:42] thiennn commented on #560
Can you share your code so that I can look into

[2018-09-13 03:00] rafsanulhasan commented on #560
**update-database** failed with following:
`System.InvalidOperationException: Unable to determine the relationship represented by navigation property 'Product.ProductLinks' of type 'IList<ProductLink>'. Either manually configure the relationship, or ignore this property using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.Ignore' in 'OnModelCreating'.`
`Unable to determine the relation

[2018-09-13 03:02] rafsanulhasan commented on #560
What code you are telling me to share? I ran the same code found in master branch to migrate the DB

[2018-09-13 03:08] thiennn commented on #560
All. The code on master work fine for me. I Thought you have changed some thing

[2018-09-13 03:10] rafsanulhasan opened #563 "[enhancements] Blazor Support"
Since Blazor has been released on the top of Web Assembly that runs on Browser, I'd love to create PR with Blazor support for AST.NET Core

[2018-09-13 03:13] rafsanulhasan commented on #560
Nope, the master branch is untouched. I have set up a pull bot to automatically pull latest changes from upstream to the master of the forked repo.

[2018-09-13 06:49] rafsanulhasan commented on #560
I figured the actual issue out. It was a connection string problem.
I updated it to use LocalDB in development environment in PR #564.
Thanks for your assistance.

[2018-09-13 06:49] #560 closed

[2018-09-13 06:50] rafsanulhasan commented on #550
It might be a connection string issue. i fixed it to use a generic localdb which is installed with VS in PR #564 .
Thanks everyone.

[2018-09-13 12:08] cunnpole commented on #303
@thiennn Any info on this?

[2018-09-13 14:47] justindongqiang opened #565 "[Enhancement] Implement IViewLocationExpander to simplify view engine"
Extending The Razor View Engine With View Location Expanders

[2018-09-13 14:48] justindongqiang commented on #565
Enhancement] Angular SPA Template provided by VS

[2018-09-13 14:48] #565 closed

[2018-09-13 14:48] justindongqiang opened #566 "[Enhancement] Implement IViewLocationExpander to simplify view engine"

[2018-09-13 16:36] #566 closed

[2018-09-13 19:16] hishamco commented on #563
I think it's too early for Blazor!!

[2018-09-13 19:18] rafsanulhasan commented on #563
IMHO, A nightly-build or demo would be good @hishamco, what do you think?

[2018-09-13 19:33] hishamco opened #567 "[Feature] Support Razor Pages for Modules UI"
@thiennn it would be nice if we use Razor Pages for all the modules instead of MVC apps, also it's a preparation for [Support Razor UI in class libraries](https://github.com/simplcommerce/SimplCommerce/issues/422)

[2018-09-13 22:28] hishamco commented on #555
Is this solved you question?

[2018-09-14 03:26] thiennn commented on #567
I am trying to leverage the Razor Class Library. But I prefer MVC over Pages. MVC is a lot more familiar and I think it's easier to do theming and custom routing.

[2018-09-14 04:11] hishamco commented on #567
For modules razor pages are easier, don't forget that many of the modules doesn't require a controls or sort type of things .. think about Analytics module, localization and much more, what you need is simply drop some pages and you are ready go. You 're still do theming, custom routes .. etc

[2018-09-14 07:06] thiennn commented on #567
I think we should support both MVC style and Razor Pages.  However there is a problem with applying Razor Class Library. Please see my prototype for more details https://github.com/thiennn/dynamicLoadingRazorLib/

[2018-09-14 07:08] thiennn commented on #422
There is an issue with dynamic loading when using Razor Class Library see https://github.com/thiennn/dynamicLoadingRazorLib/

[2018-09-14 11:51] #557 closed

[2018-09-14 11:54] hishamco commented on #567
IMHO we can make the host as MVC app and the modules as razor pages for simple as fast module  development

Regarding your sample I can make a prototype for 1 module and see how's everything will fit

[2018-09-14 22:03] thiennn opened #569 "Replace gulp copy-module by MSBuild"
As I see there are a lot of people got trouble with running gulp task

[2018-09-14 22:12] thiennn opened #570 "Manage module dependencies"
A module can depend on other modules, for example the Orders module depends on the Catalog Module.

In the module.json. We would like to add and property call dependencies

[code]

Then a new method to sort loaded module by dependency. For example, Core have to come before Catalog, Catalog before Orders.

[2018-09-15 07:26] jducobu opened #571 "Add possibilities to use markdown for news items and page item instead of wysiwig"
Add EditorType in user class

[2018-09-15 07:30] jducobu opened #572 "Manage admin menu dynamically using the available module"

[2018-09-15 14:00] hishamco commented on #403
IMHO we dive the services into two categories:
1- Singleton
Database provider, storage services .. etc we should provide one implementation bundled with the host, if there 's a change, restart is required in this case
2- Transient
Payment gateways for instance it can be many implementation as the same time

FYI I didn't have an entire look to the project, but this what it should be done as develop

[2018-09-15 14:02] hishamco commented on #341
After reading my comment [here](https://github.com/simplcommerce/SimplCommerce/issues/403#issuecomment-421574977) we can enable / disable the modules that act as transient by its nature

[2018-09-15 14:02] hishamco commented on #331
Enable / Disable module is a generic solution for sort type of things

[2018-09-15 14:10] MaherJendoubi opened #573 "NullReferenceException when clicking on a product from home page"
Hi friends,

I am using Visual Studio 15.8.4.
dotnet --version : 2.2.100-preview2-009404

System.NullReferenceException: Object reference not set to an instance of an object.
   at SimplCommerce.Module.Localization.TagHelpers.LanguageDirectionTagHelperComponent.Process(TagHelperContext context, TagHelperOutput output) in C:\Users\Maher\Documents\GitHub\SimplCommerce\src\Modules\SimplCommerce.Modul

[2018-09-15 15:31] hishamco commented on #573
After a lot of investigation I come up with the following:
1-  This is not occur on the products page only, it occurs for all the requests after the first one
2- Strange part is `IRequestCultureFeature` isn't available in `LanguageDirectionTagHelperComponent` while it's available in views for instance `_SelectLanguagePatial`

this may occurs because:
- The localization setup has an issue
- Middlew

[2018-09-15 15:50] hishamco opened #574 "[Bug] RequestLocalizationOptions is confusing"
What I notice from awhile is the `SupportedCultures` in the `RequestLocalizationOptions` is different from what its registered .. it's confusing and it need an investigation

[2018-09-15 17:02] hishamco commented on #573
I can confirm now it's an MVC bug, so I will open an issue there

[2018-09-15 17:08] MaherJendoubi commented on #573
It's strange, when you run Ctrl+F5 this bug disappears.

[2018-09-15 17:17] hishamco commented on #573
Strange!! but still there's MVC localization issue bug

[2018-09-15 23:01] thiennn commented on #573
If you change from Singleton to Transient for LanguageDirectionTagHelperComponent registration. The problem disappear

[2018-09-16 06:37] hishamco commented on #573
AFAIK the `TagHelperComponent` should be registered as singleton, so let us keep this open for track the issue that I filed in the MVC repo

[2018-09-16 06:53] MaherJendoubi commented on #573
Thank you @hishamco @thiennn for your answers.

[2018-09-16 07:07] hishamco commented on #573
@MaherJendoubi I think we should make this open to track the MVC issue

[2018-09-16 12:26] lulzzz commented on #526
The PoC I have at the moment is based on webpack, but I am sure I can implement it with Gulp, if that is preferred, since I used to use Gulp to do this myself.

Before I bring that PoC forwards, i think it is useful to understand some of the things that are not ideal in the current setup, as well define a set of base rules for high quality TS + AngularJS 1.x code; setting a direction for starting

[2018-09-16 12:28] vascofernandes commented on #526
The PoC I have at the moment is based on webpack, but I am sure I can implement it with Gulp, if that is preferred, since I used to use Gulp to do this myself.

Before I bring that PoC forwards, i think it is useful to understand some of the things that are not ideal in the current setup, as well define a set of base rules for high quality TS + AngularJS 1.x code; setting a direction for starting

[2018-09-16 15:34] hishamco commented on #572
Nice .. but it would be nice if we provide a navigation APIs that allow the modules to inject themselves into the admin menu

[2018-09-16 16:12] hishamco commented on #569
May be another and better solution for this to make the modules pluggable at runtime which may a promises feature for SimpleCommerce if we do so

[2018-09-16 20:10] hishamco commented on #570
This needs to traverse the entire dependencies tree, for instance module A depend on modules B & C, and C depend on D .. etc

[2018-09-16 20:16] hishamco commented on #571
We can make the editor itself pluggable, but IMHO this not an intend for a eCommerce solution, someone can create a custom module or modify the current one as per his/her needs

[2018-09-16 22:50] hishamco commented on #529
We already implemented an `EFStringLocalizer` but the translation may useful if we use caching

[2018-09-16 23:42] apis3445 opened #576 "How do you integrate migrations"
Hi! I view your presentantion in dot net conf 2018, I don't see any migrations for versioning the database, couldd you consider add migrations it's difficult to me figure how separate the database migrations in modules

[2018-09-16 23:43] #576 closed

[2018-09-17 02:37] thiennn commented on #529
I think @michael-nee might thinking about translate dynamic content like product name, product description,.... Our localization only support static content like labels

[2018-09-17 02:38] thiennn commented on #570
Yes

[2018-09-17 02:42] thiennn commented on #569
Pluggable at runtime is the ultimate goal of SimplCommerce. However, at the development time, we also need an easy way to copy modules so that we can code and test easier

[2018-09-17 02:46] hishamco commented on #569
I'm agree with the MS Build tasks, nothing but, as I have seen almost the modules if not all are copied

[2018-09-17 02:49] hishamco commented on #570
First of all we need to recognize all the modules and there dependencies, after that we can start on this. But still we need to think about the plugging system from all the sides : dependencies, packaging, installing, uninstalling .. etc

[2018-09-17 11:26] thiennn commented on #422
Please take a look at the prototype at https://github.com/thiennn/dynamicLoadingRazorLib/ if there are no concern. We will apply for SimplCommerce soon

[2018-09-17 12:53] hishamco commented on #570
Let me start on this ..

[2018-09-17 13:42] hishamco opened #577 "Modules Management"
After filed issue #570 seems there 're many points we should consider to manage the modules

1. All the installed modules should be in the "Modules" folder as it's now, but all the module files related should be there too including binaries, views .. etc, to make them easy to remove during installation
2. Make use of `module.json` for module metadata
3. Introduce the `modules.json` to keep track f

[2018-09-17 14:30] hishamco commented on #577
I'm asking why we need to use `Assembly.Load()` for the already installed modules because the binaries already there in the bin folder

[2018-09-17 19:08] thiennn commented on #577
Modules with isBundledWithHost = true are referenced in the WebHost.csproj, and the binary already in the bin folder. But we need to get the assembly of that module to do dependency registration, initialization ect. for that module. Because the binary are merged into the bin. It not impossible to uninstall them at runtime.

Modules with isBundledWithHost != true. The binary of this module must be

[2018-09-17 19:37] hishamco commented on #419
For simplicity we can introduce a `modules.json` something similar to NuGet `packages.config` file

[2018-09-17 19:40] hishamco commented on #577
I see .. but I notice there 're plenty of the modules already bundled with host such as News .. etc. IMHO we should revise all the modules and bundle the eCommerce related only and let the others installed dynamically on the fly

[2018-09-17 19:56] hishamco commented on #577
@thiennn can you list the core modules for `SimplCommerce` that must be bundled with the host, so we can revise them and use the `IsBundledInHost` flag in the code instead of checking the `bin` folder existence

[2018-09-17 21:17] thiennn commented on #577
Ideally there are no module required to bundle with Host, except the Core Module. The shop owner will make that  list for their own need.

[2018-09-17 21:31] hishamco commented on #577
Is that mean all the other modules will be enabled as per his needs?

[2018-09-17 21:53] thiennn commented on #577
Yes

[2018-09-17 21:58] hishamco commented on #577
Ok, now I will push a module configuration PR to accomplish point 3

[2018-09-17 22:10] thiennn commented on #577
I am not sure but I thought that tracking installed module in database is better. I think it is easier to insert/delete rows from database at the runtime than the manipulate the file. And it also work better with multiple instance of web server

[2018-09-17 22:13] hishamco commented on #577
May be .. may be not, I think we need to open a discuss in the issue #419

[2018-09-18 04:59] hishamco commented on #573
@MaherJendoubi feel free to close this while it's fixed, I don't think that registration type is made this strange behavior

[2018-09-18 05:02] hishamco commented on #403
This is for repositories what about the others, hope you check my previous [comment](https://github.com/simplcommerce/SimplCommerce/issues/403#issuecomment-421574977)

[2018-09-18 06:11] MaherJendoubi commented on #573
Thanks @hishamco

[2018-09-18 06:11] #573 closed

[2018-09-18 06:14] fetullahyldz commented on #540
hello i've tried them all but again the problem continues the same

[2018-09-18 06:46] hishamco commented on #570
After a few investigation seems the module dependencies have a big value on module installation. I wanna ask you if there is a dependency issue that you faced in the loading current modules?

[2018-09-18 07:01] thiennn commented on #540
@fetullahyldz Can you describe step you have done and take some screeshot

[2018-09-20 05:52] fetullahyldz commented on #540
I have installed the latest version of nodejs but the problem can still cause this same

![image](https://user-images.githubusercontent.com/6751949/45798339-3984b880-bcb2-11e8-9ee5-7b559a81bcc5.png)

[2018-09-20 06:33] thiennn commented on #540
@fetullahyldz . Please add my on skype: nlqthien. So that I can support you better

[2018-09-20 15:59] rafsanulhasan opened #588 "Discussions about coding styles"
## I'm submitting a proposal regarding...

[code]

## Current conventions
I would like to request a change in coding styles and refactorings
* Block body for methods, constructors and properties
[code]

* Explicit usage of variable declaration
   `string a = "";`
* Importing namespaces in a clumsy way
[code]
* Longer line
  `A.abcde.defg.hi(a.b.c, abc(asd));`

## Expected conventions
* Expression

[2018-09-20 21:18] thiennn commented on #588
I suggest that you should structure like this

### Item 1
*Current*:
*Suggestion*:

### Item 2
*Current*:
*Suggestion*:

- I prefer block body for methods, constructors and properties. Setting default value for properties is expression
- I prefer use var
- I prefer the current importing style:

[code]

- long lines. It depends, I not very strictly on this. Sometime long lines are easier to read th

[2018-09-21 08:00] rafsanulhasan commented on #588
@thiennn
* I don't understand the confusing statement

  Since you

* Since you prefer `var` would you accept PR's about this
* Simplified namespaces should be preferable as I mentioned because
  * unnecessary imports might degrade performance
[code]
    imports all the things included while
[code]
    would import only the class I need for the current class I'm working on
  * using simplified ver

[2018-09-21 17:35] acebesmonte opened #590 "sudo bash simpl-build.sh instead of sudo ./simpl-build.sh in ubuntu 18"
in README

sudo bash simpl-build.sh works instead of sudo ./simpl-build.sh

machine used:  ubuntu 18

[2018-09-22 14:29] hishamco opened #591 "Localizable URLs"
URL localization increases the chances of matching search results in other cultures/languages

[2018-09-22 14:36] hishamco opened #592 "Full RTL support"
RTL means Right-To-Left and is for users who use a different alphabet, which is read & written from another direction. For example: Arabic, Hebrew, Persian .. etc

FYI I already started #557

[2018-09-22 14:41] hishamco opened #593 "Multi-Store Support"
This is will be a nice feature for the future if it's supported yet, the implementation need to be restructure little bit to use sort of multi tenancy .. again this may a great feature for 2.0.0

/cc @thiennn

[2018-09-22 14:46] hishamco opened #594 "Language Packs"
`SimplCommerce`  already has extensibility points in modules & themes, i'm thinking to add a language packs too

I will try later to write down some ideas of how we can implement this to play nicely with `SimpleCommerce`

[2018-09-22 16:33] hishamco commented on #594
1. Creating `Language Packs` folder in the host for the supported languages
2. Each folder inside the `Language Packs` named with the language name: English, French, Arabic .. etc
3. Add a manifest file for each language as the following:
[code]
It could be culture specific
[code]
4. Add resource file per language, this could be a SQL script something similar to what we have now, or may be a code

[2018-09-22 16:35] hishamco commented on #594
Of course this should play nicely with the supported cultures that we pick up from the database

[2018-09-22 22:46] thiennn commented on #590
thank @acebesmonte

[2018-09-22 22:49] #590 closed

[2018-09-22 23:07] thiennn commented on #592
I don't know what should be done to support RTL

[2018-09-22 23:15] thiennn commented on #593
I am not sure whether it is a good idea as it will introduce a lot of complexity to the project. Majority users might not need this feature.

For a real multi tenancy I prefer to handle it at the infrastructure level, I mean the container, each tenant is one or many container.

[2018-09-22 23:17] thiennn commented on #591
This should be done after content localization (product, categories ...) is implemented.

[2018-09-22 23:31] thiennn opened #595 "Manually and Explicitly register all services"
Instead of scanning and registering as below
[code]
Each module should register its services manually and explicitly

This will resolve #403

[2018-09-23 05:32] hishamco commented on #555
@thiennn while the question is answered and there's no reply from the author, so this should be closed

[2018-09-23 05:33] hishamco commented on #594
IMHO we should take care about to make `SimplCommerce` ready for the RTM, revise & review the APIs to avoid any breaking changes later, after that we can work on docs extensively

I will struggle to avoid restarting the app, I promise if I did this many things will take the advantages

[2018-09-23 05:55] hishamco commented on #595
I was thinking to create a similar issue, by doing this there's no need to rely on Autofact

[2018-09-23 05:57] hishamco commented on #595
Let me start on this

[2018-09-23 06:42] hishamco commented on #595
While i'm not aware about Autofac objects lifetime

Repository -> Transient
Service -> Transient
ServiceProvider -> Singleton
Handler -> Singleton

@thiennn correct me if i'm wrong

[2018-09-23 14:01] thiennn commented on #595
Handler --> Transient
ServiceProvider  --> Depend. By default is Transient. Some special providers might need Singleton

[2018-09-23 14:37] thiennn opened #597 "Create scope (dependency injection) for hosted services"
There is no scope is created for a hosted service by default. We need to create scope for them.

Currently there is only one hosted service: OrderCancellationBackgroundService. However, we will add more soon

Related to #596

[2018-09-23 15:34] hishamco commented on #597
Fixed in https://github.com/simplcommerce/SimplCommerce/pull/596/commits/0cb83be0192ff080daf208d8721f234b32cf0c8a

[2018-09-23 16:10] hishamco opened #600 "Replace Boostrap Star Rating"
As I saw in the docs https://docs.simplcommerce.com/en/latest/how-to-add-new-languages/ adding one language is a headache little bit, because there're many places I should add a localization for.

IMHO we can replace the current star rating with something like https://codepen.io/alisuarez/pen/RWGNLm so no localization is required, FYI I tweaked the sample to cover disable case too

If sound is goo

[2018-09-23 16:16] hishamco opened #601 "Summernote Localization"
As I see here https://github.com/simplcommerce/SimplCommerce/tree/master/src/SimplCommerce.WebHost/wwwroot/lib/summernote/lang summernote is already has a plenty of supported languages, so it would be nice to pick up a right localization automatically for the current culture

[2018-09-24 12:24] #403 closed, assigned to nobody

[2018-09-24 21:07] thiennn commented on #519
Working on SampleTheme

[2018-09-24 21:07] #519 closed

[2018-09-24 21:44] thiennn commented on #402
It now has a clear error message if there is a version conflicts

[2018-09-24 21:44] #402 closed

[2018-09-24 21:47] thiennn commented on #337
We are not going to implement this feature as https://github.com/simplcommerce/SimplCommerce/issues/337#issuecomment-420170064

[2018-09-24 21:47] #337 closed

[2018-09-24 21:58] thiennn commented on #588
I think we better track one by one and implement one by one. For example create an issue about using var, discuss on it, implement for it. Then another issue for example long lines

[2018-09-25 01:54] myomyinthan opened #603 "Cosmos DB"
Hi ,
Any plan to support Cosmos DB in near future? Now cosmos Db is more and more popular 😁

[2018-09-25 08:38] rafsanulhasan commented on #588
sounds good

[2018-09-25 13:45] michael-nee commented on #529
Yes that's correct, but just wondering how it could be used dynamically.

[2018-09-25 13:47] michael-nee opened #604 "Feature: Export Functionality"
A number of previous e-commerce solutions have export functionality for orders to CSV and for users?

[2018-09-25 13:54] michael-nee commented on #603
That would take a pretty fundamental change from SQL to NoSQL?

I know GrandNode is using MongoDB which can use Cosmos DB.  Certainly massive benefits from a read point of view.

[2018-09-25 14:11] hishamco commented on #529
This is can be happened on fly, and it would be nice if create a hook for content loaded, so you can subscribe and translate the content when the event fires

[2018-09-25 14:34] thiennn commented on #603
As far as I know, modeling the data model for NoSQL is different from relational database. In relational database, we are usually eliminate the data redundant by normalize, normalize and normalize. But in NoSQL normally the entities are self-contained documents. It is not easy to switch between them without changes

[2018-09-25 14:37] thiennn commented on #604
We have implemented export to CSV for tax https://demo.simplcommerce.com/admin#!/tax-rates. This should be similar

[2018-09-25 15:46] hishamco commented on #597
This [docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-2.1) has a rich information to implement such thing

[2018-09-25 15:52] hishamco commented on #604
@michael-nee can you share some of those to see what should be exported

[2018-09-25 21:20] justindongqiang commented on #491
Let me look into this issue.

[2018-09-25 21:27] justindongqiang commented on #604
Wonder what info we want to be exported?

[2018-09-26 12:15] hishamco commented on #162
I think this need to be closed coz it's already there, FYI this will be automate it to choice the right language translation based on the current selected culture #601

[2018-09-26 12:17] hishamco commented on #161
This is no longer needed if we implement #594

[2018-09-26 12:20] hishamco commented on #227
This will be tracked in #570

[2018-09-26 12:33] hishamco commented on #172
@thiennn can you create an account for `SimplCommerce` in https://codecov.io/ and add the `SimplCommerce` repository, after that I can add the require script to make this happen, this tool is free for open source projects and it gives you a rich STATS like this https://codecov.io/gh/WormieCorp/Localization.AspNetCore.TagHelpers

[2018-09-26 12:35] hishamco commented on #169
This will be a part of #577

[2018-09-26 12:36] joe704la opened #605 "Demo: An error occurred while processing your request"
The Demo is not working. I get the message An error occurred while processing your request.

[2018-09-26 12:40] hishamco commented on #262
@thiennn why this is on hold?

[2018-09-26 12:50] hishamco commented on #421
I think we need to specify the target version for each module to avoid such behavior

[2018-09-26 12:52] hishamco commented on #420
This is related to #421 #577

[2018-09-26 12:54] hishamco commented on #524
Or we can use HTML5 Web Workers, I did similar thing in on project last few months

[2018-09-26 15:18] thiennn commented on #605
It working now. Someone changed the setting to an invalid value

[2018-09-26 15:18] #605 closed

[2018-09-26 16:15] Diiga opened #606 "Changing google and facebook api key"
cant find where the api key , is it possible to change it

[2018-09-26 17:43] #606 closed

[2018-09-27 21:45] akluthe commented on #603
This might be possible once entity framework core releases cosmos db as a provider option? Then I would imagine your models would just "work" without much fiddling.

[2018-09-28 03:11] hishamco commented on #567
How is told you that?!! I already used theme since year ago, have a look to my repo [Bloggy](https://github.com/hishamco/Bloggy) https://github.com/hishamco/Bloggy/blob/master/src/Bloggy/ThemeViewLocationExpander.cs, perhaps there's an issue or something missing in sample you're working with

[2018-09-28 04:55] hishamco commented on #172
@thiennn this link https://joaorosa.io/2016/10/12/integrate-net-core-appveyor-opencover-and-codecov/ will helps you a lot

[2018-09-28 15:19] akluthe commented on #567
This comment seems to indicate it only works for layouts and partials.

I was working with Thien's repo and I can't overide RCL plugin views with local view files in the ~/Themes/TestTheme folder of the WebHost project.

I'll set a fork up and show you what I mean and maybe we can figure it out.

[2018-09-28 16:15] hishamco commented on #567
I see, seems the issue occurs with the localized Razor Pages

[2018-09-28 16:51] akluthe commented on #567
Well, that thread is about localization, but the issue from the linked comment is broader.

They were trying to use what we want to do for Themes to implement localization in their project, but found out it won't work because the view expander only works with partials and layouts.

I modified Thien's repo here to show what I mean.

I can get the view file circled in blue to work because it is not

[2018-10-01 22:09] thiennn commented on #422
#610

[2018-10-01 22:09] #422 closed

[2018-10-01 22:11] thiennn commented on #50
try to keep it simple

[2018-10-01 22:11] #50 closed

[2018-10-01 22:16] thiennn commented on #227
In development, we can set CopyLocalLockFileAssemblies to true OR set isBundledWithHost to true and add project reference in the WebHost. To publishing a module as self contained, use dotnet publish

[2018-10-01 22:16] #227 closed

[2018-10-02 14:40] kenc82 commented on #227
I got ten of these emails saying the same thing today and i unsubscribed. Next step is this
[cid:A373595C-0AA3-480C-8250-95A4E02CBA4D]

On Oct 1, 2018 at 6:16 PM, <Thien Nguyen Le Quynh<mailto:notifications@github.com>> wrote:

In development, we can set CopyLocalLockFileAssemblies to true OR set isBundledWithHost to true and add project reference in the WebHost. To publishing a module as self con

[2018-10-02 20:51] thiennn commented on #227
@kenc82 Please unwatch this project and stop posting similar comments. You should learn how to use GitHub first

![unwatch](https://user-images.githubusercontent.com/289607/46376150-83f93280-c6bf-11e8-9077-d943d0aff8bd.png)

[2018-10-02 21:51] wubuyun opened #613 "error dotnet run"

[2018-10-02 21:55] #613 closed

[2018-10-02 22:59] marcelowu opened #614 "HOW TO CONFIGURE SYSTEMCTL UBUNTU WITH SIMPLCOMMERCE？"
To create a new systemd file, just use the:
sudo vi /etc/systemd/system/SIMPLCOMMERCE.service

       Below you will find the content of this file, it’s example, if you need you can modify it. Paste it to the created file:
[Unit]
 Description=SIMPLCOMMERCE

  [Service]
  WorkingDirectory=/var/webapps/SIMPLCOMMERCE/src/SimplCommerce.WebHost
  ExecStart=/usr/bin/dotnet /var/webapps/SIMPLCOMMERCE/src

[2018-10-03 04:00] wubuyun opened #616 "error sudo dotnet SimplCommerce.WebHost.dll"

[2018-10-03 04:04] wubuyun commented on #616
![default](https://user-images.githubusercontent.com/35350235/46389459-4937d000-c6a8-11e8-9c9b-0e8607350e10.PNG)

[2018-10-03 04:19] #616 closed

[2018-10-03 11:29] thiennn commented on #614
I think you should publish the SimplCommerce.WebHost to a folder first. For example

[code]
Then update the service path

[code]

[2018-10-03 18:46] marcelowu commented on #614
thanks

[2018-10-03 18:46] #614 closed

[2018-10-09 14:36] tomanye commented on #540
Still not fixed

[2018-10-10 19:37] ayoungarmarius opened #619 "CMS Module issue when publishing to Azure App Service"
Hello,

I just want to point out an issue I faced when trying to deploy SimplCommerce to an Azure App Service today.

After deploying, the URL was returning a generic error 'An error occurred while starting the application.'.  Upon digging into the logs via Kudo, I found this particular entry:

`Application startup exception: System.Exception: Cannot find main assembly for module SimplCommerce.Mod

[2018-10-10 22:05] thiennn commented on #619
Thank you @ayoungarmarius , we have just made the Cms module part of the application so that it's easier for everyone to deploy.
Btw, there are some docs you might want too look at. http://docs.simplcommerce.com/en/latest/

[2018-10-10 22:05] #619 closed

[2018-10-10 23:45] michael-nee opened #621 "Reviews"
Shouldn't the review system only be available to those who have purchased the item previously and only be restricted to 1 review to prevent abuse?

[2018-10-11 00:20] michael-nee commented on #604
Should we export from the API to a CSV or use angularjs module to export using Json that is used to show the orders grid?

[2018-10-11 13:01] hishamco commented on #604
You can have a look to the Tax module

[2018-10-11 14:42] michael-nee commented on #604
Yes, using the same code for export.

[2018-10-11 22:11] hishamco commented on #604
Exactly, that's what @thiennn pointed to earlier

[2018-10-12 01:21] ghd258 opened #622 "how-to-add-new-modules： Microsoft.NET.Sdk.Razor and Microsoft.NET.Sdk.Web"
http://docs.simplcommerce.com/en/latest/how-to-add-new-modules/
![qq 20181012091857](https://user-images.githubusercontent.com/4811375/46842433-1c9a5b80-ce00-11e8-8d00-9bb64f204f7c.jpg)

[2018-10-12 02:05] thiennn commented on #622
I sorry the document is out of date.

[code]

is the correct one

[2018-10-12 02:06] ghd258 commented on #622
How can the ViewEngine pick up the right location for the Views in modules

[2018-10-12 02:17] thiennn commented on #622
As we use Razor Class Library, all the views in the module will be complied into an assembly and at the run time those views are found just like normal MVC Area

[2018-10-12 02:19] ghd258 commented on #622
route ？

[2018-10-12 02:29] thiennn commented on #622
/AreaName/ControllerName/ActionName or you can override it by AttributeRouting

[2018-10-13 11:05] jducobu commented on #546
Is this issue already resolved ?

[2018-10-14 05:36] #491 closed

[2018-10-15 01:18] justindongqiang commented on #491
@thanhxuanhd thank you.

[2018-10-15 01:30] felixcheah opened #625 "Deploy the Application"
I would like to know what are the steps that to deploy to IIS?
Any special configuration needed?
Kindly advice.

thanks

[2018-10-15 01:42] #625 closed

[2018-10-15 01:42] felixcheah commented on #625
found the solution

[2018-10-15 23:22] lisandroiraguen opened #626 "Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object."
Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object.
   at SimplCommerce.WebHost.Extensions.ServiceCollectionExtensions.RegisterModuleInitializerServices(ModuleInfo module, IServiceCollection& services)
   at SimplCommerce.WebHost.Extensions.ServiceCollectionExtensions.AddModules(IServiceCollection services, String contentRootPath)
   at SimplCo

[2018-10-17 19:02] thiennn commented on #626
@lisandroiraguen Do you have your codebase up to date with the latest master branch. Because I believe that I have throw a better error message for this https://github.com/simplcommerce/SimplCommerce/commit/bb1d517f91c99435f60cf6c4c8aa615e9d2d670c

[2018-10-17 19:52] #597 closed

[2018-10-17 19:55] #622 closed

[2018-10-17 21:48] rafsanulhasan commented on #603
@thiennn FYI microsoft has added a support for modelling CosmosDB/DOcumentDB in Azure in the same way as we do for relational DB in Reverse-Engineering Code First approach. Please take this issue into account and look deep into it. Thanks

[2018-10-17 22:10] thiennn opened #628 "[Admin] Create order"
For some cases, there is a need for admin to create orders for a customer. An "Create Order" button should be added in the Orders page.

2 new properties should be added into Order object

[code]

Update the existing logic related to CreatedBy. If an order created by the customer, then the Customer and CreatedBy are the same. If an order create by the admin then CreatedBy is the current logined us

[2018-10-17 22:22] thiennn opened #629 "Allow customer to add order note during the checkout"
The suitable position I think in the summary block. Add a textbook and a button "Add Note", an ajax called should be made to save the order note

[2018-10-17 22:35] thiennn commented on #588
As discussed https://github.com/simplcommerce/SimplCommerce/issues/588#issuecomment-424139614, feel free to open other issues (one by one)

[2018-10-17 22:35] #588 closed

[2018-10-17 22:37] thiennn commented on #162
http://docs.simplcommerce.com/en/latest/how-to-add-new-languages/

[2018-10-17 22:37] #162 closed

[2018-10-17 22:43] thiennn commented on #562
I don't think we should do this. I am try to get out of nodejs, webpack,... for this version. We might re-consider at V2, but not a the moment

[2018-10-17 22:43] #562 closed

[2018-10-17 22:44] thiennn commented on #574
@hishamco Do you have any update on this?

[2018-10-17 22:45] #555 closed

[2018-10-17 22:54] thiennn commented on #526
Thank @vascofernandes  for the great effort. But I think the current implement with AngularJS is fine for the next 2 - 3 years. After that we might re-implement the whole back-office

[2018-10-17 22:54] #526 closed

[2018-10-17 22:56] thiennn commented on #523
After the switch to Razor Class Lib, now all the default view are complied at build time. The warm up time has been reduce a bit.

[2018-10-17 22:56] #523 closed

[2018-10-17 22:59] #271 closed

[2018-10-17 23:01] thiennn commented on #366
not in the next 2 - 3 years, after that we might re-implement the back-office

[2018-10-17 23:01] #366 closed

[2018-10-17 23:03] thiennn commented on #346
As we are not in Angular 2+ we cannot apply this

[2018-10-17 23:03] #346 closed

[2018-10-19 01:03] #626 closed

[2018-10-19 08:07] victooor commented on #621
Hi,

What does the To be considered label stands for, can this issue be worked on?

[2018-10-19 14:54] HarleyBartles commented on #593
Yes to multi tenancy. Agreed that it needs a lot of thinking through. Pushing updates where something is overridden at tenant level could be problematic. Definitely would be a wonderful feature.

[2018-10-19 21:51] justindongqiang opened #630 "An issue displaying duplicate tree of categories in product filters."
An issue displaying sub-categories in search filters. As you can see in the screenshot below, sub-categories display twice.

![image](https://user-images.githubusercontent.com/18490641/47245467-04f24280-d3bf-11e8-99b1-fc851c96fb32.png)

[2018-10-19 21:51] justindongqiang commented on #630
Please assign to me and I will fix it.

[2018-10-20 17:07] justindongqiang commented on #630
@thiennn I checked in the fix
https://github.com/simplcommerce/SimplCommerce/pull/631

[2018-10-21 12:44] lisandroiraguen opened #632 "Drop down list doesn't update at first time."
When you have several conected drop down lists, it doesnt update at first time, you must entern and refresh the father to update the child, that is a very annoying UX experencie.

![sample](https://user-images.githubusercontent.com/35784914/47267109-7e03ae00-d515-11e8-805d-5cb1de90222a.PNG)

when I change the country and go back, it does appear
![capture2](https://user-images.githubusercontent.com

[2018-10-21 15:09] hishamco commented on #574
Sorry I was disconnect around week or so during a climate change, hope to get on this soon

[2018-10-21 20:32] kostyrin opened #633 "Override view"
I created a theme. Make own layout. In the moment my theme looks fine. But when I override a view like Index in my theme, in the result I render just view without header/body/css/js without layout, When I make wrong? Help me.

[2018-10-21 20:37] thiennn commented on #630
Thank @justindongqiang

[2018-10-21 20:37] #630 closed

[2018-10-21 20:42] thiennn commented on #633
Add _ViewStart.cshtml to your View directory. Similar this https://github.com/simplcommerce/SimplCommerce/tree/master/src/SimplCommerce.WebHost/Themes/CozaStore/Areas/Catalog/Views

[2018-10-21 20:46] kostyrin commented on #633
Thanks

[2018-10-21 20:56] #633 closed

[2018-10-22 21:06] justindongqiang commented on #458
@thiennn I ma testing the changes now and just wondering how do you created records in StockHistory table. Click "Add All Products" does not seem to add an stock history

![image](https://user-images.githubusercontent.com/18490641/47319454-56473f80-d614-11e8-98be-d10919681b3e.png)

[2018-10-24 14:20] thiennn commented on #458
@justindongqiang stock histories are added when you (+/-) Adjusted Quantity then Save

[2018-10-25 15:02] justindongqiang commented on #458
@thiennn I submitted the PR.

[2018-10-25 15:11] justindongqiang commented on #458
View history is not relevant to how the history is generated,
@thiennn but I still need to see it...
"when you (+/-) Adjusted Quantity then Save", do you mean click "Add all products" on the top right?
where is the save button when changing the quantity?

[2018-10-25 21:02] thiennn commented on #458
the save button at the bottom

[2018-10-25 21:02] #458 closed

[2018-10-25 22:51] #629 closed

[2018-10-26 07:17] codingdefined commented on #628
@thiennn I would like to work on this, few questions.

1. Is there a Separate Button for Admin to create the Order for the Customer.
2. Can Admin create an order for himself?
3. When creating an Order, should we create a dropdown by which Admin can select the which customer he is creating an order for.

[2018-10-27 11:56] jducobu commented on #508
I think the better thing is to use a headless architecture (decouple the front end (ui) and thefront end (business)).
https://en.wikipedia.org/wiki/Headless_software

[2018-10-29 08:34] ViacheslavMelnichenko opened #637 "Cannot pull docker image simplcommerce/nightly-build"
Since 26.10 I can't pull simplcommerce/nightly-build image via docker.
STR:
1) run "docker run --name simplsite -d -p 5000:80 --link simpldb:simpldb simplcommerce/nightly-build"

Actual result:
Error received -
"C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon: pull access denied for simplcommerce/nightly-build, repository does not exist or may require 'docker lo

[2018-10-29 08:41] ViacheslavMelnichenko commented on #637
So I have tried with **simplcommerce/ci-build** and this works for me.
As I understand you should update documentation.

[2018-10-29 13:04] thiennn commented on #637
Updated http://docs.simplcommerce.com/en/latest/getting-started/
@ViacheslavMelnichenko  is that where you saw?

[2018-10-29 17:49] kaylangan opened #638 "Build results on Azure Pipelines aren't public"
When I try to see the build details for an Azure Pipelines PR build, I'm not able to access the project. I believe the project is still set to private visibility (not sure if that's intentional). If not, you can [change the project to public](https://docs.microsoft.com/en-us/azure/devops/organizations/public/make-project-public?view=vsts&tabs=new-nav#enable-anonymous-access-to-projects-for-your-or

[2018-10-30 09:17] codingdefined commented on #628
Thanks @thiennn for the information. One more thing, for every Order Cart, is mandatory, so should the admin add products in his cart and then create the Order for the customer? Also does the Customer be in the dropdown or it should be a search field?

[2018-10-30 09:41] thiennn commented on #628
Just do a quick check. In the Order class, there are no information about the Cart, I think we can create a Order without Cart

[2018-10-30 09:54] codingdefined commented on #628
But in the CreateOrder function of OrderService, it says if Cart is Null, Result.Fail<Order>($"Cart of user {user.Id} cannot be found");. Am I looking at the wrong code, also to create an Order there should be some products added, right?

[2018-10-30 10:29] thiennn commented on #628
We might need to create another CreateOrder

[2018-10-30 12:54] kaylangan commented on #638
Seems to be working now. Thanks!

Sent from Outlook
________________________________
From: Thien Nguyen Le Quynh <notifications@github.com>
Sent: Monday, October 29, 2018 5:23:33 PM
To: simplcommerce/SimplCommerce
Cc: Kayla Ngan; Mention
Subject: Re: [simplcommerce/SimplCommerce] Build results on Azure Pipelines aren't public (#638)

Thank @kaylangan<https://na01.safelinks.protection.outlook.com/?

[2018-10-30 13:37] #638 closed

[2018-10-30 13:37] #637 closed

[2018-10-30 15:01] justindongqiang commented on #567
@thiennn  any update on this?

[2018-10-30 15:05] justindongqiang commented on #457
@thiennn I'd like to work on this and please give more details.

[2018-10-31 15:22] justindongqiang commented on #5
Hi @thiennn
where do you want to place the button of "Clone Product"?

[2018-11-01 02:39] thiennn commented on #5
I think top right is the suitable position

[2018-11-01 02:57] justindongqiang commented on #5
Do you mean the product page in admin area?

[2018-11-01 15:20] justindongqiang commented on #5
Thanks. Will do.

JD.

________________________________
From: Thien Nguyen Le Quynh <notifications@github.com>
Sent: Wednesday, October 31, 2018 8:21 PM
To: simplcommerce/SimplCommerce
Cc: Justin Dong; Comment
Subject: Re: [simplcommerce/SimplCommerce] Clone a product (#5)

yes, the product editing page

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHu

[2018-11-01 19:18] thiennn commented on #258
#639

[2018-11-01 19:18] #258 closed

[2018-11-02 14:07] muhammetsahin opened #640 "Uncaught Error: [$injector:nomod] Module 'simplAdmin.inventory' is not available!"
Hi,

Im using 1.0.0-RC version

And i setup with postgreSQL everything is okey but i've got an error admin panel

![image](https://user-images.githubusercontent.com/2045788/47919899-af8b5a80-dec1-11e8-9c0d-40e9f6d30250.png)

Thanks.

[2018-11-02 14:14] thiennn commented on #640
You should use the latest code on master, the 1.0.0-RC is out of date

[2018-11-02 14:17] muhammetsahin commented on #640
Im tried latest version but still same error.

[2018-11-02 14:29] thiennn commented on #640
In the browser, view source the page and search for inventory.module.js to see whether it there.
The source file is src/Modules/SimplCommerce.Module.Core/Areas/Core/Views/HomeAdmin/Index.cshtml

[2018-11-02 14:38] muhammetsahin commented on #640
![image](https://user-images.githubusercontent.com/2045788/47921510-ce8beb80-dec5-11e8-8079-39318f714a3b.png)

![image](https://user-images.githubusercontent.com/2045788/47921629-1ad72b80-dec6-11e8-813e-2cf7f55aec0c.png)

[2018-11-04 17:25] mehran-mousavi opened #642 "Images for Product Variations"
Hello everyone
In Product Variations page and in Variations  table we can see Images column but i don't see any upload button for upload image per each Variation. how we can upload images for each product Variations  . for example i have three color and i want upload images for each color and in product details page when user select red color we show images of red color of product.
@thiennn

[2018-11-04 19:14] thiennn opened #643 "Product attribute options"
For example in case of pizza.
Add Cheese, Add Extra sauce, Add Extra Rice, so on,
Based on number of option selected the price should also vary(inc/dec)

For a computer it can be extra warranty service

[2018-11-04 22:04] thiennn opened #645 "Event handles called twice"
It seems that with services.AddMediatR(); in Startup.cs, all the event handles have been registered automatically.
Explicit register as below will result to handles being called twice.
services.AddTransient<INotificationHandler<OrderChanged>, OrderChangedCreateOrderHistoryHandler>();

[2018-11-05 02:41] thiennn commented on #642
I am not sure I have time to implement this. At the moment, you can add all the images to the main product so that customers can view them.

[2018-11-05 11:09] #640 closed

[2018-11-05 11:33] #645 closed

[2018-11-06 04:31] codingdefined commented on #628
@thiennn I was working on it, since you have started working on it, then no problem

[2018-11-07 09:01] codingdefined commented on #628
Yes, What I have done till now is to have a AutoComplete Customer TextBox, where the user can type two or more letters and get the required customer with name and id.

[2018-11-07 14:10] thiennn commented on #628
cool, I will factor the Create method in Order service

[2018-11-08 00:24] thiennn opened #646 "Allow customers to change billing address"
Currently the billing address is cloned from shipping address. We want to offer customers a way to edit billing address during the checkout. On the page filling shipping address add an option for customers to change their billing address

[2018-11-08 00:53] ak23young opened #647 "PayPal Express"
Hey guys,

Just wanted to point out that PayPal Express doesn't seem to be working correctly.  After clicking the PayPal payment button on '/checkout/payment', the payment window pops up and begins to load, but eventually errors and closes itself.

These errors appear in the Chrome Developer Console: https://imgur.com/a/wkfTgFK

I've tried testing with real credentials in both sandbox and live mod

[2018-11-08 04:04] thiennn commented on #647
It works fine now on ci build https://ci.simplcommerce.com

[2018-11-08 04:04] #647 closed

[2018-11-08 11:48] thiennn commented on #601
http://docs.simplcommerce.com/en/latest/how-to-add-new-languages/

[2018-11-08 16:17] thiennn commented on #628
After investigation, I see it better to apply 1 ordering process for both customer and admin. So we need to add to cart before create order

[2018-11-08 16:44] codingdefined commented on #628
Yeah, its better to have Cart, because then you do not need to add Order Items when creating the Order.

[2018-11-08 22:08] hishamco commented on #601
My aim here is to automate the process without human interfering

[2018-11-09 09:49] hishamco commented on #601
I will try to share with you a prototype as soon as I get a suitable time

[2018-11-09 22:56] justindongqiang commented on #5
@thiennn I noticed there is method called Clone() in Product class. I don't see it is good enough.
There are many many child items, when "Clone", do we need to keep all of them or just copy over ProductAttributeValue and ProductCategory?

[2018-11-10 07:06] jducobu opened #650 "Slug management issue"
When a user change a slug, you don't keep the old value of it.
If a customer try to browse a old slug, it was redirected with a 404 http code because it's doesn't exist.
If you keep all the old slug desactiving them, it will be possible to redirect a old slug to the new slug with a 301 http code (as it's implemented in nopcommerce).

[2018-11-10 07:12] jducobu commented on #547
May be add the translated EntityTypeId

[2018-11-13 16:13] thiennn commented on #5
I think this clone feature (button Clone) we should clone everything except the variations

[2018-11-13 16:14] daniel-loudon commented on #646
Can I be assigned this for my first contribution

[2018-11-13 22:44] thiennn commented on #646
Great!. Currently I cannot assign to you on Github, likely the Github issue, but this item is reserved to you

[2018-11-13 23:54] thiennn opened #654 "show city and zip code in shipping addresses"

[2018-11-14 13:12] MaherJendoubi opened #655 "Add Dependabot"
[Dependabot](https://dependabot.com/) helps you keep your dependencies up to date. It works with most popular languages – you can see full details of the languages we support [here](https://dependabot.com/#languages).

Every day, Dependabot checks your dependency files for outdated or insecure requirements and opens individual pull requests for any it finds. You review the PRs, merge them, and get

[2018-11-14 14:54] #654 closed

[2018-11-17 02:33] justindongqiang commented on #5
PR: https://github.com/simplcommerce/SimplCommerce/pull/658

[2018-11-18 14:20] balasratran opened #660 "X-XSRF-Token is not present"
I'm having problems trying to use the Post method.Thank you very much
`info: Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker[1]
      Route matched with {area = "Core", action = "List", controller = "UserApi"}. Executing action SimplCommerce.Module.Core.Areas.Core.Controllers.UserApiController.List (SimplCommerce.Module.Core)
info: SimplCommerce.Infrastructure.Web.CookieOnlyAutoValidateA

[2018-11-18 15:14] balasratran commented on #660
I have been restore this.
Accept Use this space to summarize your privacy and cookie use policy.

[2018-11-19 11:50] kuan62hu opened #663 "Angular bad request"
Hi~
   Recently, I had downloaded the project from gitHub and after executed it, but I always got the message as below:
* URL = http://localhost:49208/admin#!/users
* Browse Error = Possibly unhandled rejection: {"data":"","status":400,"config":{"method":"POST","transformRequest":[null],"transformResponse":[null],"jsonpCallbackParam":"callback","url":"api/users/grid","data":{"sort":{},"search":{},

[2018-11-19 13:40] thiennn commented on #663
It looks like the X-XSRF-Token is missing, Have you accepted the cookie consent?

[2018-11-19 14:15] kuan62hu commented on #663
I checked the path ~/admin/ and code as below,
 [Route("admin")]
public IActionResult Index()
{
    var tokens = _antiforgery.GetAndStoreTokens(HttpContext);
    HttpContext.Response.Cookies.Append("XSRF-TOKEN",
        tokens.RequestToken, new CookieOptions { HttpOnly = false }
    );

    return View();
}
I still got the error again,
URL: http://localhost:49208/api/users/grid
Status: 400 Bad Req

[2018-11-19 14:21] kuan62hu commented on #660
Hi balasratran ,
   Can you explain how to fix it?

br,

[2018-11-19 14:30] kuan62hu commented on #663
@thiennn  The required antiforgery header value "X-XSRF-Token" is not present. How come?

[2018-11-19 14:34] thiennn opened #664 "Better API spec in Swagger UI"
We have added Swashbuckle to generate specs for SimplCommerce APIs #662. You can now see the generated spec in /swagger. The next step is enhance the APIs spec

[2018-11-19 14:36] thiennn commented on #663
The cookies has not been written, because the cookie consent has not been accepted. I think

[2018-11-19 15:31] kuan62hu commented on #663
@thiennn Any suggestion?

[2018-11-19 20:47] thiennn commented on #663
pull the latest code and try again

[2018-11-19 23:51] kuan62hu commented on #663
@thiennn It's still happened with Safari except to Chrome on MacOS.

[2018-11-20 15:09] daniel-loudon commented on #646
PR #661 Closes this

[2018-11-20 16:19] thiennn commented on #663
tested with Safari on Ipad https://ci.simplcommerce.com/ it works as expected

[2018-11-23 07:05] thiennn commented on #660
#663

[2018-11-23 07:05] #660 closed

[2018-11-23 07:08] thiennn commented on #663
We cannot reproduce the issue. Btw, if you wish you can turn off the CSRF checking by removing the

` o.Filters.Add(new AutoValidateAntiforgeryTokenAttribute()); ` at https://github.com/simplcommerce/SimplCommerce/blob/275edaf807d66cb9333b572b88f6165a0c47ffb5/src/SimplCommerce.WebHost/Extensions/ServiceCollectionExtensions.cs#L85

[2018-11-23 07:08] #663 closed

[2018-11-23 18:34] #628 closed

[2018-11-24 11:49] thiennn commented on #663
@kuan62hu I'm sorry because I haven't noticed that some themes doesn't show the cookie consent panel. that is the reason why it was hard your you.

[2018-11-24 14:46] balasratran commented on #660
Thank you, I learned and understood how it works.

[2018-11-26 02:02] justindongqiang commented on #664
I’d like to work with this.

[2018-11-27 10:45] jamalkaksouri opened #668 "SEO not support UTF-8"
When using title, keyword, description for SEO it's not support UTF-8 in output in view page source

[2018-11-28 06:24] vagisha-nidhi opened #670 "Test reports are not being published to Azure Pipelines"
Tests are running in the pipeline, but results are not being published for reporting. Azure Pipelines provides excellent reporting capabilities that help you with:

Easy analysis and troubleshooting for failed tests - the test reports show all relevant details (error message, stack trace, failing for how long, etc.) to make it easy to analyze failed tests.
Timing analysis - Test duration informati

[2018-11-28 08:37] thiennn commented on #670
@vagisha-nidhi thanks, can't wait to see your PR

[2018-11-28 18:40] #646 closed

[2018-11-28 20:33] justindongqiang commented on #457
@thiennn any more details?

[2018-11-28 20:37] justindongqiang commented on #539
@thiennn looks we already have the "Most viewed products" but that is for admin.
Is this for user Role is Vendor only? and user(vendor) logs into dashboard, then see "most view products" for the vendor?

[2018-11-29 00:52] mehran-mousavi commented on #668
@thiennn I test this with persian characters and when i check the page source output i saw something like this "&#x62A;&#x633;&#x62A;" !!! Can you fix this in next changes ?

[2018-11-29 05:48] #668 closed

[2018-11-29 18:58] justindongqiang commented on #664
@thiennn Trying to add the xml comment which generates the xml document displaying in swagger UI, but it does not seem to create the xml doc from xml comments.

[2018-12-01 13:15] Nongzhsh opened #673 "An error: Invalid column name 'IsDefault' while running StaticData-*.sql"

[2018-12-02 15:50] #5 closed

[2018-12-02 16:05] #673 closed

[2018-12-03 02:59] thiennn commented on #664
Many controllers actions are returning anonymous types, I think we convert to explicit type first to leverage ActionResult<T>.

About the xml doc, we can do it later

[2018-12-03 23:07] thiennn commented on #670
The test report looks nice. Thank you

[2018-12-03 23:07] #670 closed

[2018-12-13 11:56] Mirivhbv commented on #591
Does anyone work on this issue? I consider product details, category name localization and etc.

[2018-12-13 13:49] hishamco commented on #591
Nope, but it is in my roadmap, but I need @thiennn clarify which content to be localized, and open another issue with that
This is issue is specific for localizing URLs

[2018-12-17 17:47] yalcinsinan opened #676 "cannot access the links at /admin pages."
Hi there,
I have successfully installed and run simplcommerce but I cannot access the links at /admin pages.

![questsimple](https://user-images.githubusercontent.com/115282/50104956-6b1f0880-023c-11e9-97ff-dd3cdecd9e9f.png)

[2018-12-17 18:37] yalcinsinan commented on #676
![questsimple](https://user-images.githubusercontent.com/115282/50107473-e3d59300-0243-11e9-8dcc-27b445aae934.png)

[2018-12-19 04:50] acebesm opened #677 "running on ubuntu 18 error"
after running sudo bash sudo bash simpl-build.sh, database was populated successfully.
then dotnet run makes error

ERROR:
[code]

INFO:
[code]

[2018-12-20 03:58] acebes commented on #677
ive change from:
    <TaskFolder Condition=" '$(MSBuildRuntimeType)' == 'Core' ">netcoreapp2.1</TaskFolder>
to:
    <TaskFolder Condition=" '$(MSBuildRuntimeType)' == 'Core' ">netcoreapp2.0</TaskFolder>

and also comment out:
            // app.UseHttpsRedirection();
because i dont know yet how to work with https in net core

STATUS NOW:
swagger working (kudos everyone for adding this)
homepage wo

[2018-12-20 04:07] acebesm commented on #677
ive change from:
    <TaskFolder Condition=" '$(MSBuildRuntimeType)' == 'Core' ">netcoreapp2.1</TaskFolder>
to:
    <TaskFolder Condition=" '$(MSBuildRuntimeType)' == 'Core' ">netcoreapp2.0</TaskFolder>

and also comment out:
            // app.UseHttpsRedirection();
because i dont know yet how to work with https in net core

STATUS NOW:
swagger working (kudos everyone for adding this)
homepage wo

[2018-12-20 04:07] #677 closed

[2018-12-21 01:18] AlexandreBarros commented on #676
I'm in a similar problem here. One question, after your authentication process, can you access another area that needs authorization? Can you see the name of the logged user on top bar?
Thank you, and excuse my english.

[2018-12-22 06:43] jducobu opened #678 "As a admin user, i want to use the admin panel using progressive web app so that the admin user think the admin panel is an desktop."

[2018-12-27 20:09] jducobu commented on #160
As an admin user, i want to display a collection of category in the category widget

[2018-12-27 20:09] jducobu opened #680 "As an admin user, i want to display a collection of category in the category widget"

[2018-12-28 03:47] ghd258 opened #681 "update to net core 2.2"
update to net core 2.2

[2018-12-28 05:50] jducobu opened #682 "As an admin user, i want to use a default country for tax rate (instead of using a default tax class id),"

[2018-12-31 15:32] #681 closed

[2019-01-02 07:25] wannado opened #686 "How to make product options appear in the product page"

[2019-01-02 07:30] wannado commented on #686
![image](https://user-images.githubusercontent.com/1073904/50583206-9ef06400-0eb3-11e9-968d-53bb6bed7413.png)

Hi I created some product variation like the above. If I understood things correctly, I was expecting the product page to show controls to select the 3 option values. But they do not show up in the product page. What am I doing wrong? Thanks in advance

[2019-01-04 03:20] thiennn commented on #686
Sorry @wannado  for the late response. You have to add product variations for options you have added. In the first time create a product. You can generate all the possible variations based on options you have added

[2019-01-04 03:20] #686 closed

[2019-01-09 09:21] michael-nee commented on #507
Pull request:

https://github.com/simplcommerce/SimplCommerce/pull/687

[2019-01-23 17:50] relliky2d opened #692 "Db migration issue: No DbContext was found in assembly"
Microsoft Visual Studio Community 2017 (v15.9.5)
.NET Core v2.2.103

Solution builds successfully, but migration fails:

PM> Update-Database
No DbContext was found in assembly 'SimplCommerce.Infrastructure'. Ensure that you're using the correct assembly and that the type is neither abstract nor generic.

[2019-01-23 23:14] thiennn commented on #692
In the Package Manager Console, The Default Project should be src/SimplCommerce.WebHost

[2019-01-23 23:55] relliky2d commented on #692
Yeah I saw that, and changed it -- but then I get the following on 'Update-Database'. Still builds successfully.

"Could not load assembly 'SimplCommerce.WebHost'. Ensure it is referenced by the startup project 'SimplCommerce.Infrastructure'."

[2019-01-25 07:34] TheArchGriffin opened #693 "Admin edit or delete results in error"
When running locally everything works fine. However, when the app is running on the windows server, published, I cannot edit or delete anything, including products, widgets, pages, menus, etc.

Steps to reproduce: Clean windows server 2016 install.

Install Plesk onyx (latest) with sql server.

Install dotnet core 2.2 hosting package from Microsoft.

Upload the published simplecommerce app.

Click

[2019-01-27 09:45] amohsyn opened #694 "Unable to deploy on iis"
I am stuck in a weired problem of iis deployment which always shows http 500.30 ancm error i have followed all work arounds mentioned in similar issues but the issue still sustains. Installed hosting and runtime bundle but vs runs perfect however iis always shows error. Please help me out.

[2019-01-27 15:14] thiennn commented on #694
@amohsyn Could you please get the latest code and try again. Check the file in logs folder if you still get errors. Btw, you normally have to update the Connection in the appsettings.json using User Id=;Password=

[2019-01-27 15:56] amohsyn commented on #122
Siri am still unable to publish on iis.

[2019-01-28 15:15] amohsyn commented on #694
Thanks the problem is resolved. New code helped me debug the issue.

[2019-01-28 15:15] #694 closed

[2019-01-29 07:03] TheArchGriffin commented on #693
fail: Microsoft.AspNetCore.Antiforgery.Internal.DefaultAntiforgery[7]
      An exception was thrown while deserializing the token.
Microsoft.AspNetCore.Antiforgery.AntiforgeryValidationException: The antiforgery token could not be decrypted. ---> System.Security.Cryptography.CryptographicException: The key {2030343a-0a8d-45b1-985d-11ee8be508be} was not found in the key ring.
   at Microsoft.AspNet

[2019-01-29 07:04] TheArchGriffin commented on #693
Please let me know if you need anything else. The error displayed on the admin web page, is blank. It's just a red box that comes up

[2019-01-29 07:21] thiennn commented on #693
In Chrome, open the DevTools (F12) then go to the Network tab. Capture the Request Headers and Response Headers and post here

[2019-01-29 07:41] TheArchGriffin commented on #693
@thiennn

Hi, thanks for your quick responses man! I think it's the webdav issue that others have run into. I'll test further to see if removing webdav in the web config file really solves the issue and report back.

[2019-01-29 08:15] thiennn commented on #693
I think because Plesk onyx doesn't allow other method rather than GET

https://support.plesk.com/hc/en-us/articles/115002202793-Unable-to-use-DELETE-PUT-or-PATCH-HTTP-verbs-with-php-files-or-Web-API-405-HTTP-verb-used-to-access-this-page-is-not-allowed

[2019-01-29 08:37] TheArchGriffin commented on #693
@thiennn The issue seems to be completely solved by simply adding the following to the web.config file:

[code]

It seems that WebDav is a common cause of this particular error.

Thanks and keep up the great work @thiennn !

[2019-01-29 10:23] #693 closed

[2019-02-04 12:28] TedStryker opened #697 "SignalR outdated project"
Since #675 VS tells me that the Module.SignalR project is outdated and has to be updated.
After updating the project is empty.
I tried to open the solution with 16.0.0 Preview 2.1 and 15.9.6 Preview 1.0 and both showed that behavior.

[2019-02-04 13:16] Mirivhbv commented on #645
Asking for just learn, why have you registered OrderChangedCreateOrderHistoryHandler to service as twice in Modules/Orders/ModuleInitializer.cs? I couldn't figure out purpose of it.

[2019-02-04 20:41] #697 closed

[2019-02-07 07:52] sunnykachwala commented on #466
@EmreKarahan are you able to resolve the stuff?

[2019-02-09 18:14] richburgess opened #698 "Demo site is down? 502 bad gateway"
![image](https://user-images.githubusercontent.com/32249791/52524583-7b67c880-2c6c-11e9-95db-51664f6715c9.png)

[2019-02-10 18:13] MarshalOfficial opened #699 "Search textbox Icon in rtl languages"
Hi,
In RTL Languages like Arabic and Persian search textbox icon position is corrupted,
I have attached screenshot in English and Arabic.

![rtl](https://user-images.githubusercontent.com/8558078/52537504-e7395680-2d7c-11e9-8b87-553c27a65a6d.png)

![ltr](https://user-images.githubusercontent.com/8558078/52537508-ed2f3780-2d7c-11e9-9fd0-4bc4680eacb1.png)

[2019-02-12 02:47] justindongqiang commented on #699
Good catch.  I will have a look at it....

Thanks,
Justin

[2019-02-13 20:10] jducobu opened #700 "Generate Sitemap.xml and robots.txt"

[2019-02-13 20:15] #650 closed

[2019-02-13 22:58] thiennn commented on #698
fixed

[2019-02-13 22:58] #698 closed

[2019-02-13 23:26] richburgess commented on #698
Much better. Thanks!

[2019-02-14 00:57] bendandoSolo commented on #426
Just started using Piranha and really like it, would be great to have an integrated Ecommerce platform, please let me know if this progresses

[2019-02-15 10:26] mrnams opened #701 "Delete all current catalog data and create sample catalog not working"
When we click "Delete all current catalog data and create sample catalog"
It shows blank page only

[2019-02-15 10:31] mrnams opened #702 "Error 400 (OAuth2 Error)!!| Register using Google account not working"
Register using Google account not working,
It shows error shown in attached screenshot
Error 400 (OAuth2 Error)!!

Its show stopper issue

![2019-02-15 15_57_23-error 400 oauth2 error 1](https://user-images.githubusercontent.com/31761152/52850977-eb79c100-313a-11e9-9de6-fb1aad8d3706.png)

[2019-02-15 10:32] mrnams opened #703 "Register using Facebook account not working,"
Register using Facebook account not working,
It shows error shown in attached screenshot

Its show stopper issue
![2019-02-15 15_59_20- 8 error](https://user-images.githubusercontent.com/31761152/52851009-064c3580-313b-11e9-8451-96b769b7ad19.png)

[2019-02-15 20:12] acebesmonte opened #704 "clarification on List<ValidationResult>"
i would like to clarify if the IList\<ValidationResult\> can run without issue om machine is using .NET Core linux/mono? because it only exist in .NET 4.6

ref: https://docs.microsoft.com/en-us/dotnet/api/system.activities.validation.validationresults?view=netframework-4.7.2&viewFallbackFrom=netcore-2.0

/src/SimplCommerce.Infrastructure/Models/ValidatableObject.cs

[code]

please forgive my noobn

[2019-02-16 09:09] mrnams opened #705 "Stock Control is not available for each product."
We have a product called bags. We have only 100 bags.
How to define each bag quantities ?

[2019-02-16 13:59] thiennn commented on #704
It run on well on Windows, Linux, Mac

[2019-02-16 13:59] #704 closed

[2019-02-16 14:24] thiennn commented on #703
Fixed. Btw you can also create your own Facebook App https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/facebook-logins?view=aspnetcore-2.2

[2019-02-16 14:24] #703 closed

[2019-02-16 14:28] thiennn commented on #702
Fixed, Btw you can create your own OAuth client for google https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/google-logins?

[2019-02-16 14:28] #702 closed

[2019-02-16 14:31] thiennn commented on #701
On which environment: server os, database, and on which industry: phone, fashion?

[2019-02-16 17:19] hishamco commented on #699
May be I will have a look to it too

[2019-02-17 18:13] mrnams commented on #701
Actually it works fine with local iis.
when we deploy to Plesk then it face the problem.
Database is MySQL.

[2019-02-17 18:18] mrnams opened #706 "Stock unavailablilty not checked while checkout"
I have already filled issue for not having control on stock quantity.
I did manually change in stock quantity, e.g. for abc product i updated stock quantity to 2.
Now when user place order for 5 it let user proceed to checkout.

Expected behavior:
When user trying to add product quantities more than stock quantities, then checkout should be disabled

[2019-02-17 18:21] mrnams commented on #700
yes I could not find sitemap generating module,
when we enter url domai.com/sitemap.xml
it's not showing sitemap.

[2019-02-17 20:39] MohammadRezaRahmatzadeh opened #707 "Adjust discount deadline for specific product"
Hi,
These days It is a perfect feature for e-commerce systems that admin can adjust deadline for discount of specific products,
like amazon.com, booking.com, digikala.com and etc,
![aaa](https://user-images.githubusercontent.com/8558078/52918860-6bf21a80-3311-11e9-9c4a-f34ee9a1f62b.png)

[2019-02-17 20:42] MohammadRezaRahmatzadeh opened #708 "use Homepage space a little smarter(advertisement place)"
Hi,
If homepage ui space adjust more smarter, we can use some places for advertisement like below image
![commercial](https://user-images.githubusercontent.com/8558078/52918903-ce4b1b00-3311-11e9-93f9-f89dff385085.png)

[2019-02-19 05:22] thiennn commented on #701
It might related to the setting of server, see here https://github.com/simplcommerce/SimplCommerce/issues/693

[2019-02-20 03:17] mrnams opened #709 "Mobile verification while registering"
Like amazon can we add mobile as mandatory to register,and make email optional.
Also we must enable two step security feature.
Also add OTP to verify delivery, i mean our site should send OTP to customer, customer must show/share OTP to verify customer.

[2019-02-20 03:18] mrnams commented on #709
Guys I feel lits priority enhancement.

[2019-02-21 09:46] hishamco commented on #699
I have a trouble in my build, by I notice the source of bug come from a CSS property, we can move inline instead or have a CSS expert to deal with this situation

[2019-02-21 11:39] MohammadRezaRahmatzadeh commented on #699
Ok, Thanks, I am challenging

[2019-02-21 12:11] MohammadRezaRahmatzadeh commented on #699
Hi bro, in this file :
SimpleCommerce\src\SimplCommerce.WebHost\wwwroot\modules\core\site.css

.main-header .search-btn {
    background-color: #2196f3;
    border: 0;
    border-radius: 0;
    color: #fff;
    width: 38px;
    height: 38px;
    position: sticky;
    top: 0;
    right:22px;
}
I have changed position property to sticky and problem has been solved,
now css file is not checkout and i

[2019-02-21 12:56] MarshalOfficial commented on #699
I have made a pull request and problem solved,
Done.

[2019-02-21 12:56] #699 closed

[2019-02-21 13:18] hishamco commented on #699
Right property should be changed depending on language direction. Please keep the issue open until your PR is megred

[2019-02-22 09:27] GoranHalvarsson commented on #410
@afernandes Hello :) Did you start with the currency module?

[2019-02-22 15:15] skfd commented on #410
@thiennn Canadian shops need English and French, but only CAD currency. Lots of other examples.

[2019-02-22 16:03] afernandes commented on #410
Unfortunately, I was out of time, but I believe that Monday I will be able to start the creation of the module.
I'm thinking of creating something similar to what exists in nopCommerce, but feel free to start the creation of the module or if you have suggestions and ideas for the module.

[2019-02-22 16:18] afernandes opened #711 "Portable Object localization"
**PO file**
[https://docs.microsoft.com/en-us/aspnet/core/fundamentals/portable-object-localization?view=aspnetcore-2.2](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/portable-object-localization?view=aspnetcore-2.2)

OR

**JSON file**
[https://riptutorial.com/asp-net-core/example/9728/localization-using-json-language-resources](https://riptutorial.com/asp-net-core/example/9728/localiz

[2019-02-22 17:51] mrnams opened #712 "Mobile app to update delivery"
I am not sure this is right issue,
We should have mobile app/website module,
which will update delivery status.
please provide links as solution

[2019-02-22 22:05] thiennn commented on #711
What are the benefit of adding that. We already manage the translation  in database

[2019-02-22 22:05] #701 closed

[2019-02-22 22:07] thiennn commented on #706
@mrnams How did  you change the stock quantity?

[2019-02-23 07:02] mrnams commented on #706
using sql query,for testing purposes i changed stock quantity.

[2019-02-23 13:35] IamGanesh19 opened #713 "Serious bug in Payment & Order creation"
Steps:

- Add a product to cart and proceed to checkout.
- In checkout page select any payment provider other than CoD (Braintree / Stripe / Paypal) and don't complete the payment.
- Now in a new tab open the website and add any new product to cart.
- Go back to old tab and proceed with payment (without refreshing the page). Payment amount will get processed only for old cart amount.
- After succe

[2019-02-24 00:17] thiennn commented on #713
Thank @IamGanesh19 I am working on it

[2019-02-24 01:18] thiennn commented on #706
The correct way to update stock is in Inventory top menu in the Admin

[2019-02-24 09:20] #713 closed

[2019-02-24 10:18] IamGanesh19 commented on #713
Thanks @thiennn. Appreciate your time in resolving this issue quickly. 👍

[2019-02-24 10:46] mrnams commented on #713
Does this solve my stock management issue?

[2019-02-24 14:44] thiennn commented on #706
In the product editing page. You have to set Enable Stock Tracking to true also

[2019-02-25 06:49] IamGanesh19 opened #715 "No option to add shipment tracking number while adding shipment"
There are no option available to add the shipment tracking number while adding a shipment. Without this having tracking number in system is not meaningful.

[2019-02-25 12:54] afernandes commented on #711
PO files work well with collaborative online editing tools.

PO files support pluralization.

**Easy to copy for various environments, production, staging, development ...**

Maybe create the location the same way as the payment and shipping providers.
Allowing you to install the location provider / plug-in via database or file.

I also like the things managed in the database, but in the case of l

[2019-02-25 13:14] thiennn commented on #715
added

[2019-02-25 13:14] #715 closed

[2019-02-25 23:43] thiennn commented on #705
In the product page, enable Stock tracking. Go to Inventory update the quantity there

[2019-02-25 23:43] #705 closed

[2019-02-25 23:43] #457 closed

[2019-02-25 23:49] thiennn commented on #567
Applied Razor Class Library. You can add Razor Page to modules but it will not have theming support

[2019-02-25 23:49] #567 closed

[2019-02-25 23:52] #706 closed

[2019-02-25 23:53] #676 closed

[2019-02-25 23:54] #621 closed

[2019-02-25 23:55] #507 closed

[2019-02-26 03:17] Anberm opened #717 "graphql support"
Whether or not the api is better with graphql?

[2019-02-26 04:14] IamGanesh19 commented on #715
Great. Thanks.

[2019-02-26 13:33] thiennn commented on #717
For SimplCommerce, at this moment I think rest api is better than graphql. Rest api is much simpler and well known by almost all developers.

[2019-02-26 13:33] #717 closed

[2019-02-26 13:37] thiennn commented on #709
ASP.NET Identity Core which used by SimplCommerce support this feature. But it will need a service provider to send message to mobile. We will not support this in the box but you can custom for your own need

[2019-02-26 13:37] #709 closed

[2019-02-26 13:43] thiennn commented on #604
Implemented export to csv for orders and order lines. We might not need to export users

[2019-02-26 13:43] #604 closed

[2019-02-27 04:18] mrnams commented on #709
Thanks for quick look,

[2019-02-27 10:50] mrnams opened #718 "#706 is still open"

[2019-02-27 13:27] mrnams commented on #718
Guys #706 is still reproducible, I updated stock quantity, then suppose stock quintiles are 2, now i switched to front end and successfully ordered 15 items,
Check out should check availability of stock.

Please update if you still say it's fixed, i shall share video

[2019-02-27 13:29] mrnams commented on #700
Guys anybody looking into this issue, important one for SEO.

[2019-02-28 07:34] thiennn commented on #718
@mrnams  what are steps you have done to update the stock quantity?

[2019-03-01 05:43] mrnams commented on #718
Step 1
Inventory ->Stocks->(+/-) Adjusted Quantity
Suppose  Current Quantity is 100, then add -95 in Stocks->(+/-) Adjusted Quantity, so that
 Current Quantity become 5.
Please note Stock Tracking is already enabled

Step 2
Go to front end and add same product to cart with quantity 10 and check out
it allow to checkout 10 quantities.
But we have only 5

[2019-03-01 05:46] thiennn commented on #718
Thank you for the good information, I will take a look at this

[2019-03-01 06:57] thiennn commented on #718
I just did the same steps as you have described above. Payment with COD, I got the error message "There are only 5 items available for ..." and the order is not created.

As expected but might not be user friendly I will update the code to warn the user when the increase the number item in shopping cart

[2019-03-01 13:34] mrnams opened #720 "User registration email not validated"
User can enter any invalid email address and register them-self.
After registration we should send verification link to registered email address and after successfully verification only user get registered.
Also make mobile number as optional registration to email and send OTP to mobile to verify mobile number and avoid spamming.

For me its highest priority issue.

[2019-03-01 18:57] onurh commented on #713
If transaction fails on a payment gateway, it is not activating the passive cart again and user sees empty cart.

[2019-03-02 00:13] thiennn commented on #718
@mrnams  fixed. Next time you just reopen the 706 instead of create a new one

[2019-03-02 00:13] #718 closed

[2019-03-02 00:29] thiennn opened #721 "Allow customers to re-do the payment if it fail"
Currently, If the payment fail, the order is created with status PaymentFailed. The background job will cancel the Order after 5 minutes.

It's good to allow user to re-do the payment

[2019-03-02 00:30] thiennn commented on #713
@onurh I have create a new issue #721  according to your comment, thanks

[2019-03-02 04:46] mrnams commented on #718
Yes I tried a lot, but could not get option to re-open closed issue.
Tons of thanks for quick response.

One more request, can you please take issue #720
Its show stopper for me to deploy

[2019-03-02 12:45] thiennn commented on #341
Added momo payment #723

[2019-03-02 12:45] #341 closed

[2019-03-03 18:57] mrnams commented on #720
Guys i tried to implement it, but i could not, as i am novice to asp.net core.
Can anyone please take this on priority.
This issue is blocking me to deploy.

[2019-03-05 04:44] mrnams commented on #720
I am looking for registration process as given below.

User will register using Email or Phone number.

1) If user use email address to register (as username), then User will get email to validate, and after validation of email address user will get chance to fill other details.
2) If user use Phone number to register (as username), then User will get OTP to validate, and after validation of Phone

[2019-03-05 15:03] horseyhorsey opened #725 "MySql: ProductOption JsonReaderException..."
Hi,
I switched to MySql and when selecting a `Product` that has a  `productoptionvalue` throws ` jsonReaderException`

    ProductController.cs MapProductOptionToProductVm 132
    Unexpected character encountered while parsing value: G. Path '[0].Key',

Json from Db

    [{Key:Gray,Display:#a9a9a9},{Key:Pink,Display:#FFC0CB},{Key:Gold,Display:#daa520},{Key:Silver,Display:#E5E4EA}]

Working Json:

[2019-03-05 15:34] horseyhorsey opened #726 "BraintreeLandingViewComponent : payment process error..."
Is the `Amount` supposed to be an `int` for the `BraintreeCheckoutForm`?

    InvokeAsync
        model.Amount = (int)zeroDecimalAmount;

Changing this to a `decimal` and removing the cast then I can see the next page. This is also in:

- StripeLandingViewComponent
- StripeCheckoutForm

[2019-03-05 16:49] horseyhorsey commented on #339
I have this running in IIS Express. I think until `.net core 3.0` you need a `CurrentDirectoryHelper`.

I combined this with https://github.com/rdvojmoc/DinkToPdf/issues/5#issuecomment-321183899

`SimplCommerce.Module.DinkToPdf.ModuleInit`

        // TODO: Remove this when/if move to dotnet 3.0
        currentdirectoryhelpers.setcurrentdirectory();
        var context = new CustomAssemblyLoadCont

[2019-03-05 18:48] egibra opened #727 "Project doesnt build"
Just downloaded project, opened and tried to build as in the tutorial, but got 185 errors. All errors look like this:
"Metadata file 'C:\Users\Downloads\SimplCommerce-master\SimplCommerce-master\src\Modules\SimplCommerce.Module.Shipping\bin\Debug\netcoreapp2.2\SimplCommerce.Module.Shipping.dll' could not be found" .
im using vs2017, .net core sdk version 2.2.1.
what i might be doing wrong?

[2019-03-06 06:07] thiennn commented on #726
Actually the Stripe checkout request the amount to be in 'long' I am not sure for Braintree

https://stripe.com/docs/currencies#zero-decimal

[2019-03-06 06:59] thiennn commented on #727
Just close VS then reopen and build again. Or try building the solution in command line

[2019-03-06 10:56] horseyhorsey commented on #726
Thanks, I see.

[2019-03-06 11:42] #725 closed

[2019-03-06 11:42] #726 closed

[2019-03-07 03:09] mrnams commented on #720
Guys,
What's stopping to implement this?
It's highly important than any other issues.

[2019-03-07 06:58] Maheshln3 commented on #720
You can explore more options with Identity Core documentations

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-2.2&tabs=visual-studio

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/2fa?view=aspnetcore-1.1&viewFallbackFrom=aspnetcore-2.2

[2019-03-07 10:38] horseyhorsey opened #733 "Add `dotnet new` templating for modules..."
As I developer of a module I would like to be able to `dotnet new simplcommercemodule` on command line to generate a `Razor class library` and any files needed to initialize a module.

#### Razorclasslib template
- AssemblyName = xxx.Module.xxx
- Edit csproj = `http://docs.simplcommerce.com/en/latest/how-to-add-new-modules/`
- module.json
- ModuleInitializer
- Generate empty directories with commo

[2019-03-07 23:53] afernandes commented on #331
[idea] Implement Feature Flags Pattern

https://dotnetthoughts.net/implementing-feature-toggle-in-aspnet-core/

[2019-03-09 19:07] afernandes commented on #410
work in progress

[2019-03-12 09:47] Mirivhbv opened #736 "Deleted account is not disabling"
If admin deletes users, they are able to sign-in still. Have to add condition for IsDeleted property at AccountController/Login action method

[2019-03-12 12:26] horseyhorsey commented on #736
What would be best to do if account is deleted?
- Redirect to register?
- Tell them deleted?

[2019-03-12 12:42] Mirivhbv commented on #736
If you redirect to register, they wouldn't able to register with same e-mail/username again. I think, it is a point.

[2019-03-12 12:44] Mirivhbv commented on #736
Therefore, best option is latter one, IMO.

[2019-03-12 16:40] #736 closed

[2019-03-13 05:28] CodesMahoney opened #739 "First run of fresh clone and fresh setup produces generic - FormatException: Input string was not in a correct format. System.Text.StringBuilder.FormatError()"
Sorry im brand new to this app, but I've hit something i have yet to get to the bottom of.

Fresh clone of repo, using VS 2017 15.8.1 - .Net Core SDK 2.2.105 Windows .NET Core Installer: x64
Loaded the .sln file, replaced connection string with my connection string of an azure database, ran the update-database, It ran fine, verified schema made it to my database.

When I run the app, I get a super

[2019-03-13 05:57] CodesMahoney commented on #739
Apologies, it has to be a configuration issue of some sort...

I just did a fresh clone on another box of mine and ran through all the same steps and it worked fine. Has to be an issue with my IDE or tooling set up on that box.

[2019-03-13 05:57] #739 closed

[2019-03-13 10:02] horseyhorsey opened #740 "Coza Theme - Cart not updating until page refresh..."
- Add to cart
- Remove from cart

Cart item count not updated until a page refresh or change.

[2019-03-13 13:47] onurh commented on #721
Locking cart is causing this problem.
If you do not make cart.IsActive = false on CreateOrder func, user can call the method again and again with a new payment gateway or continue shopping?

[2019-03-13 17:25] fatagun opened #741 "Notifications not integrated"
Is there any reason why notifications is not integrated?

If i want to use it? How can i enable it?

Thanks.

[2019-03-14 09:17] horseyhorsey commented on #694
@thiennn

For SimplCommerce.WebHost.csproj

Removing the explicit specification of InProcess as the hosting model, replacing
<AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel> with <RuntimeFrameworkName>Microsoft.AspNetCore.App</RuntimeFrameworkName>

aspnet/AspNetCore#6111 (comment)

[2019-03-14 09:17] horseyhorsey opened #743 "Running in IIS: ANCM load failure..."
For SimplCommerce.WebHost.csproj

Removing the explicit specification of InProcess as the hosting model, replacing
`<AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>` with `<RuntimeFrameworkName>Microsoft.AspNetCore.App</RuntimeFrameworkName>`

https://github.com/aspnet/AspNetCore/issues/6111#issuecomment-450990869

[2019-03-14 09:18] #743 closed

[2019-03-19 02:58] tranvannhatdev opened #744 "Support testing running with EF Core In-Memory Database Provider"
Hi All,
I have reviewed this project. But i have some issue with DB when run project.
I can running project with testing or review environment with In-Memory Database

Regards,
Nhat

[2019-03-19 07:25] jindovu opened #745 "Integration with ImageSharp"
Hi Team,
    I have setup ImageSharp.Web to resize image on project Simplcommerce but it did not working, I have been try create another project and it working fine and I don't know why it not working on Simplcommerce please help me resolve this issue
Link setup:
`https://github.com/SixLabors/ImageSharp.Web`
and configuration on Simplcommerce
Startup.cs file in SimplCommerce.WebHost
` services.Add

[2019-03-20 23:27] thiennn commented on #745
You have to add  app.UseImageSharp() before app.UseCustomizedStaticFiles(env); (line 108) in the Startup.cs

[2019-03-20 23:30] thiennn commented on #744
Not tested, but I think yes. We can run SimplCommerce on SQLite, MySQL, PostgreSQL, MS SQL

[2019-03-21 02:14] tranvannhatdev commented on #744
If project support In-Memory Database, you will easy to run it on cross platform. And will don't need to Docker, only .Net Core SDK is required.
Easy to start with starter

[2019-03-21 08:44] #741 closed

[2019-03-21 08:46] jindovu commented on #745
It's worked already
Thank you so much

[2019-03-21 13:45] #745 closed

[2019-03-21 13:48] thiennn commented on #744
You should use SQLite, In-Memory Database only suitable for unit-test.

[2019-03-21 13:48] #744 closed

[2019-03-21 18:59] #740 closed

[2019-03-21 18:59] #727 closed

[2019-03-25 22:53] MarshalOfficial opened #746 "Change Language in Cosa theme"
Hi,
I have changed my theme to Cosa Theme but in shop preview we dont have change language option anymore.
Is there any trick?

[2019-04-01 02:54] tranvannhatdev opened #747 "Recommander feature for recommandation products"
Hi,

I have been researching a Recommender for recommendation products using azure ML service.
https://github.com/Microsoft/Product-Recommendations
https://gallery.azure.ai/Tutorial/Recommendations-Solution

Do you think Recommander feature is needed?
Could you help me clear a solution for that?
I will implement according to the solution.

Thanks,

[2019-04-05 23:18] MarshalOfficial opened #748 "Adjusting Main Page Slider Images"
Hi,
where can i change main slider in home page?

![mainp](https://user-images.githubusercontent.com/8558078/55661043-c8a48880-581e-11e9-8fdf-9fb84147f7ee.png)

[2019-04-05 23:20] MarshalOfficial opened #749 "Website Browser icon and mail logo"
Hi,
where can i change main logo? and browser icon?

![ldd](https://user-images.githubusercontent.com/8558078/55661099-17522280-581f-11e9-9997-7045d903ed9d.png)

[2019-04-06 01:57] jalvarezca commented on #536
I was thinking the same. It would be nice that the UI doesn't need to refresh the all page on each event, like when changing the filter. Angular provides all the tools to do a good SPA.

[2019-04-06 09:08] thiennn commented on #748
Login to the admin. In the top menu, select Content --> Widgets. It is the Home Featured widget

[2019-04-06 09:08] #748 closed

[2019-04-06 09:11] thiennn commented on #749
The favicon.ico is in \SimplCommerce.WebHost\wwwroot. The logo is hard coded in the layout

[2019-04-06 09:11] #749 closed

[2019-04-06 09:32] MarshalOfficial commented on #749
Thank you.

[2019-04-06 09:33] MarshalOfficial commented on #748
Thanks,

[2019-04-06 10:44] KettuDevelopment opened #750 "Possibly unhandled rejection - post Product Thumbnail"
Hello,
after deploy on IIS i can´t post Thumbnails. (Admin->Catalog->Products->create new)
Without a File the post work. In Debugger the post works.

any suggestions?

IIS log:

2019-04-07 01:38:59 | The  Include operation for navigation '.Product.ThumbnailImage' is  unnecessary and was ignored because the navigation is not reachable in  the final query results. See  https://go.microsoft.com/fwlin

[2019-04-07 05:34] MarshalOfficial opened #751 "Payment like Cash on Delivery with custom description"
Hi,
In my country when we want to add a official bank payment provider to website it takes a month to confirmation of our website and has a workflow, because of that i want to add a custom payment provider like Cash on delivery with custom description that when customer read it and press button order should be submitted, exactly like cash on delivery.
My description will be card number and some le

[2019-04-07 06:42] MarshalOfficial opened #752 "Custom description for free shipping"
Hi,
I want to add nothing as Shipping price to customer order, exactly like free shipping,
but instead of 'Free' term i wanna use 'You Must Pay Shipping provider price on delivery'
how can i handle it?
Thanks,

[2019-04-07 09:39] #750 closed

[2019-04-07 09:40] KettuDevelopment commented on #750
It was a Authorization issue on my iis server.

[2019-04-07 14:05] MarshalOfficial opened #754 "Price Format"
Hi,
I want to formatting prices of products and every price that are shown on website such as sum order value and etc,
How can i adjust it?
Thanks,

![format](https://user-images.githubusercontent.com/8558078/55684723-e4fe0d80-5963-11e9-85f5-53cff2236092.png)

[2019-04-07 14:43] MarshalOfficial opened #755 "Default Culture for language"
Hi,
I have two Culture in my website first is English and second is Persian in culture table,
now i want when a user open website for first time for default Persian culture will selected and if he/she wants change it by partial control,
Because most of my users are Persian,
Is there any way to handle this issue?
Thanks,

[2019-04-08 09:24] jducobu opened #756 "As a facebook user, i would to know price, description, ... for a product using facebook messenger"
Link Facebook messenger and simplcommerce api to return to the messenger user information of a product.

[2019-04-09 05:50] jducobu opened #757 "Use citext when using postgres daa base provider"
Case insensitive doesn't exist in postgres.
For te search is a problem, please use citext extensions instead text foreach type string.
https://github.com/npgsql/Npgsql.EntityFrameworkCore.PostgreSQL/issues/236
https://docs.microsoft.com/en-us/ef/core/managing-schemas/migrations/providers#one-migration-set

[2019-04-09 13:40] MarshalOfficial opened #758 "Decrease Stock Value when order saved"
Hi,
when i saved an order, stock for product items that were in that order were not decreased automatically, did it mentioned in code or no?

I have a sale system core back-end in below repository that designed stock value automation by purchase invoice stock will plus and by sale invoice it will decrease automatically, it can be helpful to perform it here,

https://github.com/MarshalOfficial/Sale

[2019-04-09 16:40] crittag opened #759 "IScheduledTask items run at app restart regardless of their set schedule"
I have a project which I have loosely based on your Modules structure and have come across an issue when setting up scheduled tasks which I thought I'd let you know about.

With your code, the NextRunTime is always set as DateTime.UtcNow when starting the service:
`public SchedulerBackgroundService(IEnumerable<IScheduledTask> scheduledTasks)
{
    var referenceTime = DateTime.UtcNow;
    foreach (

[2019-04-09 17:50] MarshalOfficial opened #760 "Image height and width"
Hi,
My product images are in same width and height but i don't know why in website they are shown as below screenshot,

![images](https://user-images.githubusercontent.com/8558078/55822756-8a0c1800-5b15-11e9-99ae-81089a61420c.png)

[2019-04-09 19:28] KettuDevelopment opened #761 "Facebook / Google Login redirectUrl Issue"
Hello,

after 2 days of testing im on a point where i downt know what to do.

Working things:
First I created a Facebook and Google App.
Configure the OAuth Redirect URIs.
Configure appsettings.json with appid and secret

But when I press the "Facebook" Button, the function "ExternalLogin" from AccountController is called. The redirectUrl of Challenge is "Core/Account/ExternalLoginCallback".

Afte

[2019-04-09 19:34] KettuDevelopment commented on #760
Are you sure that yout pictures have the same size?
Do you tried it with an other language? maybe the reason are the arabic letters.

![2019-04-09 21_31_54-Nero-flavours](https://user-images.githubusercontent.com/47709914/55829461-ff281f00-5b0e-11e9-9056-24115400b016.png)

[2019-04-09 19:41] MarshalOfficial commented on #760
Yes problem was pictures was not exactly same and solved,
Thanks,

[2019-04-09 19:42] #760 closed

[2019-04-10 02:13] thiennn commented on #761
On Google OAuth setting. The Authorized redirect URIs should be:
https://localhost:49206/signin-google. Similarly  https://localhost:49206/signin-facebook for Facebook

[2019-04-10 02:15] thiennn commented on #758
There are 2 stock value. The Stock value in the Product table, and the stock value in Warehouse table. When an order created, the stock value in the Product table is decrease. When you create a shipping for Order, the stock in warehouse decrease. Please also be noted that the stock only decrease when stock tracking for product is enabled

[2019-04-10 04:14] KettuDevelopment commented on #761
They are.
The login on Facebook and Google is working. But after login on Google or Facebook I'm landing on the login page from the store.
After Google login the link is "shop.de/login#"
After Facebook login the link is "shop.de/login#_=_"

https://testshop.nero-flavours.de/login

[2019-04-10 10:21] crittag commented on #759
As a small addition to this, NCronTab works out the schedule based on Local time not UTC so, when working out NextRunTime, it needs to be `Schedule.GetNextOccurrence(NextRunTime.ToLocalTime()).ToUniversalTime()`

[2019-04-10 12:14] MarshalOfficial commented on #758
@thiennn
Thanks, Got it.

[2019-04-10 12:14] #758 closed

[2019-04-10 14:29] thiennn opened #762 "Websites use SimplCommerce"
SimplCommerce is my hobby project. I build it just because I want to practice my coding skill and for fun. I don't use it for business. 3 years have passed and now SimpleCommerce has more than 34 modules :D However, I am losing motivation to develop new features for it and I also don't have much free time recently.

To stay motivated, I would like to know how much SimplCommerce is useful for the c

[2019-04-10 14:36] KettuDevelopment commented on #762
At this time I use it at www.testshop.nero-flavours.de
But it don't work 100%
In 1-2 weeks the URL will change and we go online with a real shop. For German followers I will add "sofotrüberweisung.de" payment module and will post it.

[2019-04-10 14:37] MarshalOfficial opened #763 "Product category level 3 not shown in menu and not accessable"
Hi, I have added some product categories as level 3 of top level, then in menu they are not shown and there is no way to access them,
see below screenshots:
![lellee](https://user-images.githubusercontent.com/8558078/55888002-d9a91d00-5bc3-11e9-96eb-d42ae9bb58bb.png)
![le](https://user-images.githubusercontent.com/8558078/55888017-e299ee80-5bc3-11e9-9a4f-91779e0b9f75.png)

[2019-04-10 15:13] MarshalOfficial commented on #762
@thiennn
Hi bro,
I am preparing SimpleCommerce for a business project and website will be online soon as possible these days, but i have some small issues that i have created issues for them, but no body help me, i will appreciate if you help me in these hard few days that i want to publish a small commerce for my client,
Thanks,

[2019-04-10 17:30] KettuDevelopment commented on #761
@thiennn any suggestions?

![grafik](https://user-images.githubusercontent.com/47709914/55900257-0d397680-5bc7-11e9-9e7c-803081dc71bb.png)

[2019-04-10 18:18] KettuDevelopment commented on #761
Problem solved.

The issue was the wrong App-Secret :/

Sorry

[2019-04-10 18:18] #761 closed

[2019-04-10 20:31] MarshalOfficial commented on #754
I found it, it was hard coded .ToString("C") and in case of my need i have changed it to .ToString("C0")
Resolved,

[2019-04-10 20:31] #754 closed

[2019-04-10 20:32] MarshalOfficial commented on #746
I changed LanguagePartialControl from top bar to lower bar, and Resolved.

[2019-04-10 20:32] #746 closed

[2019-04-10 21:31] MarshalOfficial commented on #752
I have handled it in source code, hard code :))

[2019-04-10 21:31] #752 closed

[2019-04-10 22:03] MarshalOfficial commented on #751
Resolved by changing code in Module layer.

[2019-04-10 22:03] #751 closed

[2019-04-10 23:47] thiennn commented on #762
@MarshalOfficial I am sorry because I am very busy recently so that I cannot support all your issues. However for some specific needs you might have to do it by yourself, the code is open you modify it for your need

[2019-04-11 05:41] MarshalOfficial commented on #762
@thiennn
Sure bro, Thank you, I feel your condition and busy time,

[2019-04-11 10:35] Maheshln3 commented on #755
Yes.you can set the default  culture in db or in code under app.UseCustomizedRequestLocalization()

[2019-04-11 10:43] Maheshln3 commented on #763
you need to loop again inside the category  childitems in CategoryMenu view component .

[2019-04-11 18:32] ytong3 commented on #762
I come across SimplCommerce while doing research for a project. Just subscribed to this issue, as I am also interested in seeing how it is used in real world. Anyway, I appreciate your being open and sharing your knowledge and code. At least, I would like to give you my moral support and appreciation!

[2019-04-11 19:05] MarshalOfficial commented on #755
@Maheshln3
Thanks bro, I will check

[2019-04-11 19:05] #755 closed

[2019-04-11 19:51] MarshalOfficial commented on #763
@Maheshln3
Thanks bro, done, Resolved with your help.
I appreciate,

[2019-04-11 19:51] #763 closed

[2019-04-12 10:37] IamGanesh19 commented on #762
I am planning to use it for an online fashion portal. Will share the URL once it is up and running. In the process of creating the website, I have written a payment provider for India. Will create a PR for it very soon.

[2019-04-13 04:04] thanhtdvn opened #764 "PostgresException: 23505: duplicate key value violates unique constraint "PK_Core_User""
After running the app with data seeding on PostgreSQL , when you register a new account on system, you will got an error related to "duplicate key value violates unique constraint PK_{Core_User}".

And this error is also occurs when you add a new entry of the entity that did seed data, ex: Address.

It seems a issue on Npgsql.EntityFrameworkCore.PostgreSQL like https://github.com/npgsql/Npgsql.Ent

[2019-04-16 08:17] jacek-gorgon commented on #762
Found this project just now while looking for a simple ecommerce solution to integrate with our commercial product. Will review code the code and if it's a good fit, our team might be able to contribute a bit to the project :)

[2019-04-16 22:07] thiennn commented on #642
Support admin to upload images for product variant. In the product details page merge those images with the main product. When a product variant is selected show that image

[2019-04-17 12:57] vavon commented on #762
I can’t provide a link to a site now but we are currently working on migrating one of our client site which is based on another platform to your SimplCommerce.
What make us decide to do the switch:
- the language, .Net Core
- the possibility (thanks to the license) and simplicity in altering the code
- the API approach for the admin
Front wise we won’t be using what SimplCommerce provide and use o

[2019-04-18 22:04] MarshalOfficial opened #766 "Disable and Enable External Logins"
Hi,
How can i disable and enable external logins? to not show and accessible with users temporary and enable every time i want,
Thanks,

[2019-04-19 19:19] thiennn commented on #766
You can remove them at https://github.com/simplcommerce/SimplCommerce/blob/master/src/SimplCommerce.WebHost/Extensions/ServiceCollectionExtensions.cs#L181

[2019-04-20 08:07] MarshalOfficial commented on #766
@thiennn
Thanks bro, Done.

[2019-04-20 08:07] #766 closed

[2019-04-21 13:53] thiennn commented on #642
Blocked by this https://github.com/aspnet/AspNetCore/issues/6742

[2019-04-22 20:57] amohsyn commented on #410
@afernandes how long will you take to finish the module??

[2019-04-22 21:13] amohsyn opened #767 "Help me change the currency only without changing language."
I have a requirement of only changing currency but keeping the language same. how can i do this ,

[2019-04-25 02:30] phunghoait opened #768 "Thầy Thiên giúp em install Project SimplCommerce chỗ SimplCommerce.WebHost ko thể đưa vào được ạ"
![image](https://user-images.githubusercontent.com/7994606/56705758-85ae4480-673c-11e9-97b8-d1bf4171da58.png)

[2019-04-25 02:32] phunghoait opened #769 "Thầy Thiên giúp em install Project SimplCommerce chỗ SimplCommerce.WebHost ko thể đưa vào được ạ"
![image](https://user-images.githubusercontent.com/7994606/56705886-05d4aa00-673d-11e9-857a-0b72598fd584.png)

[2019-04-26 14:20] thiennn commented on #769
Duplicate of #768

[2019-04-26 14:20] #769 closed

[2019-04-26 14:21] thiennn commented on #768
Because the right version of .net core sdk has not been installed

[2019-04-26 14:21] #768 closed

[2019-05-09 13:47] hederson commented on #762
@thiennn I just forked your project and loved what I saw.
I'm trying to put online my wife's store and I found in your project a great way to do that with simplicity. I'm planning to do that in a few weeks.

**Thank you again, and dont give up.**

PS: How can I help to develop this amazing project? I'm .net developer too.

[2019-05-18 06:24] amohsyn commented on #762
Hello @KettuDevelopment  dear i have also a live website http://www.dressco.pk based on simplcommerce but i am facing very sluggish and painfully slow website loading almost it takes 4-5 min to complete every response. Even i reload the web it takes the same time no cashing help.

Please help me out solving this issue or could you please share your code please.

[2019-05-18 08:11] KettuDevelopment commented on #762
Hey @amohsyn u have to check the service-timeout settings of your IIS App Pool. I solved this problem this way.

[2019-05-19 14:19] KettuDevelopment opened #770 "Ignoring Stock Value on Cart and Product detail page"
Hello SimplCommerce dudes,

I have noticed that you can select more products within the shopping cart and on the product detail page than are in stock.

I solved this problem inside the "ProductDetail.cshtml" by creating a hidden span object with the StockQuantity value. Within "product-detail.js" I simply compare these two values.

ProductDetail.cshtml:
`<span id="maxquantity" hidden="hidden">@Mo

[2019-05-19 15:20] fhebel commented on #762
Hi Thien,

thanks very much for the nice work.

I'm going to use simplcommerce for my wife's retail sales of exquisite Italian wines & olive oils. If that works out well I'll add another shop for exclusive silk suspenders.

Anyway, sometimes I have stupid newbie's questions. Where is the best place to ask them without bothering anybody?

Best regards,

Florian

[2019-05-19 23:49] thiennn commented on #770
I remember that I have fixed at https://github.com/simplcommerce/SimplCommerce/commit/8bcc1cf9e4bac3ef344a912f25d90f21a282ae17

[2019-05-22 10:46] ammarzaied commented on #332
I can develop this module for simplCommerce

[2019-05-24 20:09] marcrib opened #771 "What is EntityService?"
Why does this entity exist? Where is it used?

[2019-05-25 22:24] amohsyn opened #772 "guest user automaically created why?? and strategy to delete?"
Is there any strategy to remove guest users to get stats about product and after a while to delete these guest users automatically??? or should we remove manually??

[2019-05-26 16:11] Mirivhbv commented on #771
@marcrib Hey. Almost everywhere relevant to the page, product, brand and, category. The main purpose of this is the slug implementation for these classes (product, brand, and category), where these 3 classes are derived from Entity class, for support slug name and entity type classification.

[2019-05-26 23:35] thiennn commented on #772
You can write a simple script for a simple background job to delete old guest users

[2019-05-26 23:40] thiennn commented on #767
At the moment the currency and the language are set together via current culture. You need to separate them

[2019-05-28 18:55] amohsyn commented on #767
Ok

[2019-05-28 18:55] #767 closed

[2019-05-28 18:56] amohsyn commented on #772
Ok thanks great work.

[2019-05-28 18:56] #772 closed

[2019-06-17 22:56] marblekirby commented on #303
@thiennn Is this an feature that we should work on? I am interested in taking this issue on.

[2019-07-09 08:27] TheFirstWhiteDream commented on #762
Hi dear,
As a beginner of. net core in China, I was lucky to see this project. It's great! I hope that the author can continue to maintain and update, or give it to a community for maintenance and upgrading. At the same time, I wish you every success in your career and happiness in your family.

[2019-07-09 09:50] sxmny123 opened #774 "Questions from the Chinese netizens"
来自中国网友的提问
大神你好  请问数据库是怎么创建的，运行程序他不会自动给我创建表 提示如下

 {System.Data.SqlClient.SqlException (0x80131904): 对象名 'Core_AppSetting' 无效。   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)   at System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)   at System.Da

[2019-07-09 11:36] fetullahyldz opened #775 "Multi-Language Problem"
Hi Is there a way to enter content into another language when adding categories and products.

[2019-07-09 22:11] andresclaros commented on #762
Hi Thien,
Great project, I use it to learn .net core and architecture.
Thank you so much.

[2019-07-20 23:58] hishamco commented on #775
I don't think that we support content localization. @thiennn correct me if I'm wrong

[2019-07-21 00:09] hishamco commented on #774
@sxmny123 please describe the steps to reproduce the issue in English

[2019-07-21 00:12] hishamco commented on #711
As @thiennn said we are already using database for managing the translations, but I think it need some improvement which I share some later one.

@afernandes nothing stop you to implement your own :)

[2019-07-21 00:23] hishamco commented on #331
`Microsoft.FeatureManagement` still in preview, it's good choice if it's RTM

For Now setting a database flag is enough .. hope to start on this soon

[2019-07-21 19:36] fetullahyldz commented on #775
now I want to write the description part of the product title turkish english and russian but when adding content it does not have a field

[2019-07-22 11:09] jducobu commented on #678
https://stackoverflow.com/a/46825458

[2019-07-23 00:40] sxmny123 opened #776 "@sxmny123 please describe the steps to reproduce the issue in English"
@sxmny123 please describe the steps to reproduce the issue in English

_Originally posted by @hishamco in https://github.com/simplcommerce/SimplCommerce/issues/774#issuecomment-513508179_

Questions from the Chinese netizens great god: hello, can you tell me the database is created, run the program he will not automatically give me create table tips {System. The Data. SqlClient. SqlException x8013

[2019-07-23 00:42] hishamco commented on #774
Please close this one

[2019-07-23 00:43] hishamco commented on #776
Be sure to check the ConnectionString in `appSettings.json` before you run the application. Database should be created and migration should be applied

[2019-07-23 00:50] #774 closed

[2019-07-23 16:23] flgatormike opened #777 ".json files not found when running on Ubuntu server"
It isn't really a problem with the code because everything works great running on Windows, but I have a question about how to deploy this to an Ubuntu server. I have other .NET core sites running there without problem. When I try to deploy SimplCommerce, I get an error because it can't find the connection string in appsettings.json so I just hard-coded it into Program.cs. Then I get an error tryin

[2019-07-23 16:34] flgatormike commented on #777
I just hard-coded the path. It's not really an issue, and not sure if this is the best solution, but if someone else tries to deploy on Ubuntu, maybe it will help.

.SetBasePath("/var/www/mysite")

[2019-07-23 16:34] #777 closed

[2019-07-24 10:31] #536 closed

[2019-07-24 10:32] thiennn commented on #762
Thank you for all the comments. I will back shortly

[2019-07-24 12:01] afernandes commented on #762
It is used on some internal sites of the company and I intend to use on other sites in the future.

I use the metronic theme on the website frontend
https://keenthemes.com/metronic/
https://keenthemes.com/metronic-v5.5.5/

On this particular site, I only use the wish list for now.
![print](https://user-images.githubusercontent.com/867631/61791740-389c4600-adf1-11e9-9e4e-aae4f634607f.png)
![print 2

[2019-07-24 13:57] jacek-gorgon commented on #762
We have, in fact, adopted SimplCommerce in our solution. We're developing a heavily customized version for our internal needs and we'd like to port back possible bugfixes, etc., but due to the extent of those customizations, code bases will branch quite far and backporting might become impractical.

[2019-07-25 22:19] thiennn commented on #776
Please read the README.md there is the instructions how to getting started there

[2019-07-25 22:19] #776 closed

[2019-07-25 22:21] thiennn commented on #775
@fetullahyldz I sorry but this feature hasn't been supported yet

[2019-07-25 22:22] #771 closed

[2019-07-25 22:22] #770 closed

[2019-07-25 22:23] thiennn commented on #764
@thanhtdvn Is the problem still happen now?

[2019-07-25 22:25] hishamco commented on #775
May be it's a good feature for upcoming releases

[2019-07-25 23:20] hishamco commented on #733
This is great .. @thiennn I think we need to do this before the RTM release

[2019-07-25 23:59] thiennn commented on #410
I am considering adding a simple helper for formatting the price. Let say in the admin, there will be a setting for currency:
- The culture you want to display for currency
- The routing type ex. how many decimal places
The helper will format the price base on those settings. There should be 1 currency for entire the site regarding to the language

[2019-07-26 00:08] thiennn opened #778 "Enable guest checkout ?"

[2019-07-26 00:36] hishamco commented on #331
@thiennn I already started on this one, for now we need to duplicate the code for two email modules or find a better way to unify them until we support sort of event notificatios

[2019-07-26 00:42] hishamco commented on #757
Need to check how this done in https://github.com/sebastienros/yessql

[2019-07-26 00:48] hishamco commented on #721
We need log everything even if we allow customer to re do the payment, but for security reasons we could introduce `MaxFailedPaymentAttempts`

[2019-07-26 00:58] #711 closed

[2019-07-26 01:01] hishamco commented on #603
FYI CosomoDB had been added to EF Core, nothing stop you to used https://github.com/aspnet/EntityFrameworkCore/tree/master/src/EFCore.Cosmos

[2019-07-26 01:01] #603 closed

[2019-07-26 01:21] hishamco commented on #426
@tidyui @thiennn the integration will be cool, but:

1- How the integration will be
2- What could be integrated

but I think Piranha CMS may use SimplCommerce as e-Commerce module

[2019-07-26 01:28] hishamco commented on #262
@dohuy91 seems you already done this. Am I right?

[2019-07-26 01:43] thiennn commented on #775
Will  work on it this weekend

[2019-07-26 02:04] afernandes commented on #410
I already did some things.  but I don't know if I made the best decisions.  I relied heavily on nopcommerce.

I did the Exchange part but the helper is missing

https://github.com/afernandes/SimplCommerce/tree/ExchangeRateProvider?files=1

I later discovered this project, which seems interesting to me.  but I haven't had time to test yet

https://github.com/zpbappi/money

To make something simple

[2019-07-26 12:07] hishamco commented on #775
We should schedule everything and focusing to stabilizing the platform rather than adding new feature

I think we should add this after the 1.0.0, let's stabilize and improve current localization module

[2019-07-26 22:34] #410 closed

[2019-07-27 07:36] hishamco opened #780 "Localization Reloaded"
This is issue to revise localization module in more details and track the related issues.

Proposal

After spend sometime in what we have already have in localization modules in terms of Database, APIs .. etc. I'd like to suggest and share some ideas of how localization could be.

### 1. Localization Module

**Proposal**

Change the localization tables to the following:

**1. Localization_Cultures

[2019-07-27 09:26] thiennn commented on #775
Worked, basically

[2019-07-27 09:26] #775 closed

[2019-07-27 09:42] thiennn commented on #780
Thanks @hishamco
I have just implemented the localization for content.
I think it's possible to enable update localized from the admin without reload.
It's good to add some friendly way for admin to add new language pack.

Just some quick thought. Will check your proposal soon

[2019-07-27 12:51] fetullahyldz commented on #775
Thank you very much has been really great health and your project will be much better

[2019-07-27 15:00] hishamco commented on #780
I will try to check what you did soon, but hopefully to discuss the major things to avoid redundancy contribution

[2019-07-30 00:45] balasratran opened #783 "[Report] This source code is being used for commercial purposes"
@thiennn  https://codecanyon.net/item/shopme-ecommerce-system-fully-responsive/24206154

[2019-07-30 06:45] IamGanesh19 commented on #783
Really feel sad to see this happening.

[2019-07-30 12:46] afernandes opened #784 "Update demo"
Register cities in Brazil on the demo site

Execute:
https://github.com/simplcommerce/SimplCommerce/blob/master/src/Database/StaticData-BR-Address.sql

[2019-07-30 14:40] thiennn commented on #783
Thank @balasratran for the information. Actually I don't mind

[2019-07-30 14:40] #783 closed

[2019-07-30 15:05] thiennn commented on #784
done

[2019-07-30 15:05] #784 closed

[2019-07-30 19:06] Tiear3 opened #785 "Where is pages you create in /admin#!/page/create stored?"
Have looked around the src files and cant seem to find where the pages i create in /admin#!/page/create exists, my question is where can i find this location?

[2019-07-30 19:17] thiennn commented on #785
The code is in the Cms modules, In the database: the table is Cms_Page. You can view this page by enter the hostname + / + your page url

[2019-07-30 19:17] #785 closed

[2019-08-01 12:43] TheFirstWhiteDream opened #787 "Add new module error!"
Migration dialog box appears in vs2017 after adding new modules to replace csproj files according to documents？
![image](https://user-images.githubusercontent.com/30792241/62294205-051a8500-b49d-11e9-9cd1-0cbe4f940b03.png)

[2019-08-01 14:14] thiennn commented on #787
Sorry I cannot read Chinese. However, you should have the latest VS 2019 and the lasted .net core sdk (2.2.401) installed

[2019-08-01 17:41] thiennn commented on #780
I don't think storing the Localization_Resources Value as the json string is a good idea. It will be hard to add or update

[2019-08-01 17:58] thiennn commented on #570
At the moment, we can base on the order of modules in the modules.json in the WebHost. But it will be better if we can order modules as the description of this issue

[2019-08-01 19:22] hishamco commented on #780
I already suggested something similar in OrchardCore CMS

If it's manually it's right, but I will the SimplCommerce to deal with it on the behalf of the user using JSON APIs

[2019-08-01 19:26] hishamco commented on #570
Do you mean order them based on their dependencies?!!

[2019-08-01 21:22] TheTrillian69 commented on #762
I'm working on the project. doing some customizations for my client. I'll share the link after it is deployed.

Thank you so much for your support. I love the project.

[2019-08-02 01:11] TheFirstWhiteDream commented on #787
Yes! I has installed. Can you give me a detail step  to  add a new moudule?
![image](https://user-images.githubusercontent.com/30792241/62337041-8e65a200-b505-11e9-8d9d-7851024435aa.png)

[2019-08-02 04:39] TheFirstWhiteDream commented on #787
Thanks! I has successfully for add a new module!
Wish everything goes well with you！

[2019-08-02 04:44] TheFirstWhiteDream commented on #169
It's very good, if module can register itself!

[2019-08-02 04:49] #787 closed

[2019-08-02 04:51] TheFirstWhiteDream commented on #778
I think it may a good idear.

[2019-08-02 09:18] TheFirstWhiteDream opened #788 "Maybe need a currency module?"
I think  simplcommerce need a module that can set primary currency to visit or checkout?

[2019-08-02 10:03] thiennn commented on #788
You can set the currency format in the Admin --> Setting

[2019-08-02 21:17] carlose18 commented on #762
--
How did you solve this problem?

[2019-08-03 01:32] TheFirstWhiteDream commented on #733
This is great!

[2019-08-03 08:36] TheFirstWhiteDream opened #789 "An error in payments module"
![image](https://user-images.githubusercontent.com/30792241/62409623-cc012280-b60c-11e9-816f-2a101c833438.png)

[2019-08-03 09:00] thiennn commented on #789
@TheFirstWhiteDream  Could you please create a pull request for this

[2019-08-03 09:14] TheFirstWhiteDream commented on #789
I'll try. I'm not very familiar with pr.

[2019-08-04 01:25] thiennn commented on #789
fixed

[2019-08-04 01:25] #789 closed

[2019-08-04 07:33] zhukovskyy commented on #762
Sometimes it depends from IIS settings and from MS SQL database productivity...

[2019-08-04 12:49] #788 closed

[2019-08-05 15:19] codecubix opened #792 "simpl-build.sh should be updated"
Microsoft.EntityFrameworkCore.SqlServer on simpl-build.sh should updated to 2.2.6

[code]
# On csproj file
[code]

[2019-08-05 21:44] thiennn commented on #792
@codecubix  Could you please create a pull request for this

[2019-08-07 00:02] ghd258 opened #793 "update net core 3"
update net core 3

[2019-08-07 02:01] TheFirstWhiteDream commented on #712
webapp? build with react,vue,anglar?

[2019-08-07 13:20] #764 closed

[2019-08-10 10:23] jducobu commented on #542
Allow to show brand name in product detail view

[2019-08-11 11:48] gustavnavar opened #796 "Electronic vouchers"
Is there any way to implement electronic voucher sales?

I know it's posibles to use discount coupons, but I'm talking about selling products that produce a voucher to get accés to digital content.

Thanks for developing this project !!

[2019-08-13 01:26] TheFirstWhiteDream opened #797 "Is permission control too simple?"

[2019-08-14 03:07] jducobu opened #798 "As an admin user, i want to display in contact page the warehouse information"
###The displayed field :
- Name
- AddressLine1
- AddressLine2
- City
- ZipCode
- PhoneNumber
- MailAddress
![image](https://user-images.githubusercontent.com/2796539/62991719-0b234500-be51-11e9-88c4-209774cc3984.png)

[2019-08-14 06:49] jducobu opened #799 "As an admin, i want to display the business hours of warehouse in footer"
Add business hour as an extendable properties

[2019-08-14 09:13] thiennn commented on #793
We will do it when net core reach preview9 (Sep)

Guide to migrate IRouter
https://github.com/aspnet/AspNetCore.Docs/issues/12997

[2019-08-15 11:18] hishamco commented on #797
Could you please elaborate?

[2019-08-15 14:38] #792 closed

[2019-08-16 01:09] TheFirstWhiteDream commented on #797
Can roles and privileges be added dynamically？

[2019-08-16 08:52] hishamco commented on #600
Now I'm fine to close this after PR #802

[2019-08-16 08:52] #600 closed

[2019-08-16 09:08] hishamco opened #803 "Create sample data programatically"
Switching sample date during runtime is good and bad, what I suggest to create a new APIs that let you should the sample during the development time

[code]

[2019-08-16 10:47] jducobu commented on #38
@thiennn , is this issue already created ?

[2019-08-16 10:48] jducobu commented on #27
@thiennn , is this issue already implemented ?

[2019-08-16 11:25] jducobu commented on #241
@thiennn ,  for bestselling, can i add a property in product incremented each time a product is created or updated or calculated how many time the products already ordered ?

[2019-08-16 17:24] jducobu commented on #484
Do you have an idea of the zip file structure ?
- wwwroot/themes/name_of_theme
- themes/name_of_themes

[2019-08-16 17:26] jducobu commented on #524
Is this already implemented ?

[2019-08-16 17:28] jducobu commented on #531
https://www.facebook.com/shops-api-alpha/

[2019-08-17 09:01] #542 closed

[2019-09-04 13:00] ghd258 opened #808 ""isBundledWithHost": false,"
![微信图片_20190904205832](https://user-images.githubusercontent.com/4811375/64256892-e5bcbf00-cf56-11e9-97cd-884615ea87d6.png)
![微信图片_20190904210001](https://user-images.githubusercontent.com/4811375/64256937-fcfbac80-cf56-11e9-8921-c0b2446ae31e.png)

[2019-09-04 13:31] thiennn commented on #808
If you want to set isBundledWithHost: false. Then the module need publish to have all the dependencies included in the published output. Then all those file should be copied to the Modules folder in the WebHost

[2019-09-05 01:44] ghd258 commented on #808
![QQ图片20190905094349](https://user-images.githubusercontent.com/4811375/64305353-c60eb080-cfc1-11e9-9855-8a6e06510175.png)

[2019-09-05 01:45] ghd258 commented on #808
![QQ图片20190905094527](https://user-images.githubusercontent.com/4811375/64305392-e9d1f680-cfc1-11e9-818a-4629f823a6fd.png)

[2019-09-05 10:31] carlosperez1986 opened #809 "session between modules"
hi guys.

It's possible passing one same session between modules? i need know, how create a persistent session that can use in controllers of diferents modules. When i intent do it, the session is passed null.

Regards!

[2019-09-05 12:26] ghd258 commented on #808
An error occurred while starting the application.
RuntimeBinderException: 'Newtonsoft.Json.Linq.JValue' does not contain a definition for 'id'
CallSite.Target(Closure , CallSite , object )

RuntimeBinderException: 'Newtonsoft.Json.Linq.JValue' does not contain a definition for 'id'
CallSite.Target(Closure , CallSite , object )
System.Dynamic.UpdateDelegates.UpdateAndExecute1<T0, TRet>(CallSite sit

[2019-09-05 22:19] thiennn commented on #809
All the modules are running in the same context, the same process. So the session should work fine across modules

[2019-09-06 00:12] #808 closed

[2019-09-06 07:46] carlosperez1986 commented on #809
Hi, Sr Thien. Thank you for your response and thank for simplcommerce,  I
understand what you are telling me, but is it possible to know where in the
code this does? if it is in the Modular.Core or in Modules.Modular.Core?

regards!

El vie., 6 sept. 2019 a las 0:20, Thien Nguyen Le Quynh (<
notifications@github.com>) escribió:

--

*Carlos Pérez*

Departamento de Sistemas

*Información Básica sob

[2019-09-06 08:13] carlosperez1986 commented on #809
if i does this in a module a, for example
_httpContextAsesor.HttpContext.Session.SetString("pt", "hola22");

and does this in module b:

string s =  _httpContextAsesor.HttpContext.Session.GetString("pt");

the varialbe s is null.

Regards

[2019-09-10 00:51] ghd258 opened #811 "Ask a question <Project Sdk="Microsoft.Net.Sdk.Razor">"
Ask a question
![微信图片_20190910084800](https://user-images.githubusercontent.com/4811375/64575816-3ba2c400-d3a8-11e9-96d6-fa02c84a3963.png)
<Project Sdk="Microsoft.Net.Sdk.Razor">

[2019-09-10 01:00] ghd258 commented on #811
`<AddRazorSupportForMvc>true</AddRazorSupportForMvc>`

[2019-09-10 01:00] #811 closed

[2019-09-12 09:25] TheFirstWhiteDream opened #812 "How can I add a mobile site?"
I want to add a mobile site base on simplcommerce

[2019-09-13 05:10] cuoinuamieng opened #813 "What wrong with this ?"
http://i.epvpimg.com/XSFrfab.png

Please help me :(

[2019-09-13 07:36] MedSaid17 commented on #813
It is a pb following the new release #810. I had to go back to the previous version.

[2019-09-14 04:47] cuoinuamieng commented on #813
Fixed after install nuget BuildBundlerMinifier , thanks and close :)

[2019-09-14 05:03] #813 closed

[2019-09-24 12:48] CasAl0 opened #815 "libs.min.css is missing"
Hy guys!
I downloaded the source code (.zip) and when I start the site it doesn't load the libs.min.css library. It seems there is not. What am I doing wrong?

Regards.

[2019-09-24 22:25] thiennn commented on #815
Hi @CasAl0 This file is auto generated. I have made running bundle on build with the lasted commit. Please get the latest source code and build, this file will be generated

[2019-09-25 14:29] CasAl0 commented on #815
Hi thiennn.
Thank you for your answer. Now I see the file. But another, new problem has been created that I show you in the attached photo. Am I still doing something wrong? Thanks
![SimpleCommerce](https://user-images.githubusercontent.com/11368968/65610435-a0b60680-dfb1-11e9-94e4-e8e0e3f2dd04.PNG)

[2019-09-27 07:29] ghd258 opened #816 "SqlException: Object name 'Core_AppSetting' invalid"
![QQ图片20190927152420](https://user-images.githubusercontent.com/4811375/65750709-a0e20d80-e13b-11e9-8803-474d12e82d46.png)

[2019-09-27 16:56] mg021 opened #817 "how change Default Language"
Hello @thiennn
i hava add language scripts in database
And change Setting But Language Not Changed .

[2019-10-01 10:39] thiennn commented on #817
@mg021 which Theme you are using, can you please add some screenshot

[2019-10-01 10:41] thiennn commented on #816
@ghd258 Is it the first time you start after pulling the source code?
I cannot read the Chinese in your screenshot

[2019-10-01 10:43] thiennn commented on #815
@CasAl0 Sorry for the late response. Just close and open Visual Studio again and make sure you have dotnet core skd 3.0 installed

[2019-10-01 10:44] thiennn opened #818 "Upgrade Swashbuckle.AspNetCore"
Update Swashbuckle.AspNetCore to v5.0.0-rc4

[2019-10-01 10:46] thiennn opened #819 "Fix error in export orders and order line"
After upgrading to EF Core 3. Those feature is not work, The reason because EF Core 3 have change the way it evaluate linq query. We need to fix it for EF Core 3

[2019-10-01 12:49] CasAl0 commented on #815
Thanks. Unfortunately I tried everything. To close VS, to recompile several times, to download the sources again. I'm sure I have the 3.0 SDK but the problem is not solved. I will try again. If you can think of any suggestion I gladly accept it. Thank you very much and good job.

[2019-10-01 17:04] lucy1417 opened #820 "Change content of the Razor View in a module is not Effect"
Hi @thiennn

First, I really thank you for the great project.

I tried to download and run this project on my local and I am having an issue with this project:
- While the website is running in debug mode, I open a Razor view (.cshtml) in a module and change some text in the Razor view (.cshtml), then I refresh the browser, but the text that I was changed was not affected. I need to rebuild the pr

[2019-10-01 20:00] CasAl0 commented on #815
Hi thiennn,
I managed to solve all the problems finally! To solve the problem of references I ran VS in administrator mode and now find all the dlls and references. Perfect !

[2019-10-01 22:17] thiennn commented on #820
Hi @lucy1417 Yes, you have to build the project for change in Razor file effect :)

[2019-10-01 22:20] #818 closed

[2019-10-01 22:51] thiennn commented on #815
Normally, we don't need to run VS in administrator, maybe your PC is special

[2019-10-01 22:51] #815 closed

[2019-10-01 23:17] #793 closed

[2019-10-01 23:21] thiennn commented on #812
Hi @TheFirstWhiteDream  you want the mobile web or mobile app?

[2019-10-02 10:03] mrccarvalho opened #822 "WidGet Translation"
Hi,

Its possible to apply the translation Logic to translate a widget ? Like Carousel or Html WidGet ?

Does anyone know a way to achieve this?

Thanks.

[2019-10-02 17:11] killerangels opened #823 "limit max character on web deploy"
![2019-10-02 (1)](https://user-images.githubusercontent.com/17747049/66065730-74a10500-e51e-11e9-8c76-0d97420c98fb.png)

[2019-10-02 21:51] thiennn commented on #823
Hi @killerangels , Please try to shorten the Path, for example C:\Projects\SimplCommerce\ or D:\Projects\SimplCommerce

[2019-10-03 00:10] killerangels commented on #823
solved

[2019-10-03 00:10] #823 closed

[2019-10-04 08:39] dario-l commented on #820
I have the same issue with my project. :(

https://github.com/aspnet/AspNetCore/issues/14572

[2019-10-05 00:22] ghd258 commented on #816
first time you start after pulling the source code
对象名=Object name   无效=invalid

[2019-10-06 10:24] ghd258 commented on #816
An error occurred while starting the application.
SqlException: Object name 'Core_AppSetting' invalid。
Microsoft.Data.SqlClient.SqlConnection.OnError(SqlException exception, bool breakConnection, Action<Action> wrapCloseInAction)

SqlException: Object name 'Core_AppSetting' invalid。
Microsoft.Data.SqlClient.SqlConnection.OnError(SqlException exception, bool breakConnection, Action<Action> wrapClos

[2019-10-06 18:44] dario-l commented on #820
I found solution. Checkout my attached earlier issue. 😃

[2019-10-08 22:12] #819 closed

[2019-10-09 00:09] ghd258 commented on #816
@thiennn  first time you start after pulling the source code

[2019-10-09 00:26] thiennn commented on #816
Did you run entity framework migration to create database tables?

[2019-10-09 00:29] ghd258 commented on #816
Sorry, I forgot Update-Database

[2019-10-09 00:29] #816 closed

[2019-10-09 00:54] ghd258 opened #826 "Using core 3.0 AssemblyLoadContext to Implement Plug-in Hot Loading"
Using core 3.0 AssemblyLoadContext to Implement Plug-in Hot Loading

[2019-10-09 05:19] thiennn commented on #826
ASP.NET Core doesn't design to support plug-in hot loading. Yes you can use AssemblyLoadContext to load plugins, but you can only register plugins (AddApplicationPart) at the Startup. So in order to load a plugin the website will need to be restarted.

[2019-10-09 05:22] ghd258 commented on #826
In order to load the plug-in, you need to restart the website. Can you do that without restarting the website?

[2019-10-09 05:49] thiennn commented on #826
As I said above, at the moment, there is no way to load a plugin after the website fully started

[2019-10-09 05:57] ghd258 commented on #826
https://www.cnblogs.com/zkweb/p/11630228.html

[2019-10-09 06:14] thiennn commented on #826
It's a console application not ASP.NET Core

[2019-10-09 06:16] ghd258 commented on #826
Thank you

[2019-10-09 06:44] ghd258 commented on #826
no   restarting the website
https://www.cnblogs.com/lwqlun/p/11260750.html

[2019-10-11 23:07] ljq021 commented on #826
I've also tested that there's no need to restart

[2019-10-11 23:07] ljq021 commented on #826
I've also tested that there's no need to restart

[2019-10-11 23:08] ljq021 commented on #826
@ghd258
no restarting the website
https://www.cnblogs.com/lwqlun/p/11260750.html
https://github.com/lamondlu/Mystique

[2019-10-11 23:09] ljq021 commented on #826
This is a good change, I hope it can be revised.

[2019-10-12 01:00] hishamco commented on #822
Could you please elaborate?

[2019-10-14 18:29] magnuskarlssonhm opened #828 "Model.CalculatedProductPrice.OldPriceString instead of actual value"
![image](https://user-images.githubusercontent.com/40465539/66774125-1a5e5780-eec1-11e9-9938-5b1b2588e5fc.png)

I set the old price and it writes the string instead.

[2019-10-14 21:07] #828 closed

[2019-10-14 21:27] #762 closed

[2019-10-14 21:28] #812 closed

[2019-10-14 21:28] #817 closed

[2019-10-14 21:33] thiennn commented on #809
Did you configure Session in the Startup

[code]
and

[code]

[2019-10-15 08:13] carlosperez1986 commented on #809
hi, @thiennn thank for you time, i'm using:

    services.Configure<CookiePolicyOptions>(options =>
            {
                // This lambda determines whether user consent for non-essential cookies is needed for a given request.
                options.CheckConsentNeeded = context => false; // Default is true, make it false
                options.MinimumSameSitePolicy = SameSiteMode.None;

[2019-10-15 10:08] thiennn commented on #809
@carlosperez1986

In ASP.NET Core and as well as SimplCommerce, Session are not enabled by default. If you want to use Session, you have to enable it.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-3.0#configure-session-state

[2019-10-15 11:20] #642 closed

[2019-10-17 17:29] pdtit opened #833 "sample container ci-build loads with a weird HTML layout"
Hi, when running the sample "docker run -p 5000:80 simplcommerce/ci-build", the layout of the web page looks "weird", in some basic HTML format, not the nice looking webshop like running on IIS, or in Visual Studio mode.

Any ideas what could be wrong? tested with Chrome, Edge and Firefox

[2019-10-18 06:29] thiennn commented on #833
The docker image is out of date. I am working on it, there is an issue with EF Core on SQLite

[2019-10-22 01:04] hishamco commented on #822
Closing this for now, while there's no respond, feel free to reopen it again

[2019-10-22 01:04] #822 closed

[2019-10-22 01:05] #820 closed

[2019-10-31 15:52] #809 closed

[2019-10-31 15:55] thiennn commented on #797
No, I think for most scenarios, we don't need more than that

[2019-10-31 15:55] #797 closed

[2019-10-31 15:56] thiennn commented on #803
Sample data is just for demo purposes, I think switching at runtime is for user friendly than development time

[2019-10-31 15:56] #803 closed

[2019-10-31 15:59] thiennn commented on #747
This is a nice feature. However I don't have time to look into it yet. I appreciate if you can build a new module for it

[2019-10-31 17:54] hishamco commented on #803
It would be nice if we provider the two approaches, one more think which I don't like is to switch from the home page, perhaps from admin is a good option, unless we think to create a setup for SimplCommerce

[2019-11-02 15:12] justindongqiang commented on #778
Is this still pending? I think I can look into this issue?

[2019-11-02 16:33] carlosperez1986 opened #837 "update view in debug"
hello, is there any way to not have to recompile the solution to see the changes I have made in the view? I tried this: [https://github.com/aspnet/Announcements/issues/343](https://github.com/aspnet/Announcements/issues/343), but it didn't work. Regards

[2019-11-04 02:36] thiennn commented on #778
@justindongqiang yes, please

[2019-11-04 02:39] thiennn commented on #837
Because the views of modules are outside the WebHost, After modification, you need to copy to the WebHost to make it effective. You can do this by running the copy static task, see the docs here http://docs.simplcommerce.com/en/latest/development-tips/

[2019-11-04 02:53] thiennn commented on #837
Sorry, this is still not gonna work. I will check this tomorrow

[2019-11-07 00:52] #833 closed

[2019-11-10 15:38] vinhnguyenplus opened #838 "HTTP Error 500.30 - ANCM In-Process Start Failure"
- IIS: 8.5
- Dotnet core 3.0
![deloy](https://user-images.githubusercontent.com/43105314/68546671-d3636500-038d-11ea-8c6a-eab001734fe0.PNG)

 I try removing the explicit specification of InProcess as the hosting model, replacing
<AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel> with <RuntimeFrameworkName>Microsoft.AspNetCore.App</RuntimeFrameworkName>

But app show "HTTP Error 500.30 - AN

[2019-11-10 21:43] thiennn commented on #838
Do you have the .NET Core Hosting Bundle installed?
You can run directly the website in command prompt to see if there are any error message

[2019-11-11 05:56] fhebel opened #839 "Postgres support broken since Netcore3 due to missing translation for DateTimeOffset"

[2019-11-11 06:04] thiennn commented on #839
@fhebel the issue has been fixed 4 days ago

[2019-11-11 06:05] fhebel opened #840 "Feature Request: Admin page for system status & monitoring"
Could we have an admin page with the following information:

1. Version information: git commit hash, author, build date & time, branch
2. Details about db connection: version of db client, connection string without password, version of db server
3. System information: Uptime, memory usage, etc.

[2019-11-11 06:10] fhebel opened #841 "How can I show PaypalPlus button instead of the PaypalExpress button?"
As far as I found out the button image is generated by an original Paypal script. Is there a way to tell the script to render the Paypal Plus image?

Thank you very much in advance!

[2019-11-11 06:11] fhebel commented on #839
Sorry for bothering you. I”ll give it a try ...

[2019-11-11 06:22] #839 closed

[2019-11-12 02:31] thiennn commented on #841
Paypal Plus is a different product of Paypal. They only offer this in German and Latin American markets. This is a different kind integration and required developing a new module for it. Unfortunately, at the moment, I am not sure I have enough time to implement.

[2019-11-12 05:53] fhebel commented on #841
It seems you have already some knowledge about this. Would you be able to help me out with the specification? I’ll gladly contribute the implementation of the module.

[2019-11-12 07:17] ghd258 opened #842 "SimplCommerce.MSBuildTasks update nuget Microsoft.Build.Utilities.Core 16.3.0"
SimplCommerce.MSBuildTasks update nuget Microsoft.Build.Utilities.Core 16.3.0

[2019-11-12 22:27] carlosperez1986 commented on #837
thx @thiennn
I am also looking for a solution to this

[2019-11-14 22:37] jpb4815 opened #843 "Adding products to warehouse throws exception: 'System.NullReferenceException'"
In the current version of the application running just the demonstration with Sample Data, I am unable to test the inventory tracking or management feature set. Anytime I try to add either one product, or all products to the warehouse selected(Default warehouse or custom made), I get a toast notification of an error stating that there is a problem in the LINQ to SQL queries written to do:
 Add Sel

[2019-11-15 13:31] thiennn commented on #841
I cannot activate this feature on my sandbox account

[2019-11-15 13:41] thiennn commented on #843
Thanks, I will look into this bug

[2019-11-15 13:46] thiennn commented on #842
Could you help us?

[2019-11-15 14:00] fhebel commented on #841
They don't have any documentation online, but it seems they're using an iFrame for this feature. I just left Paypal a message to get in touch with me. Hopefully they're going to provide documentation in English.

[2019-11-15 16:45] thiennn commented on #843
the issue has been fixed

[2019-11-15 16:45] #843 closed

[2019-11-15 16:59] jpb4815 commented on #843
Thanks,
What was the problem if you don't mind me asking?
John

On Fri, Nov 15, 2019 at 11:46 AM Thien Nguyen Le Quynh <
notifications@github.com> wrote:

[2019-11-15 17:03] thiennn commented on #843
The change in EF Core 3.0 is not compatible with the previous version

[2019-11-16 00:24] ghd258 commented on #842
Due to special reasons, our access to foreign resources is blocked by the firewall, so we can't clone the code to modify it locally. The speed is basically several KB

[2019-11-19 12:10] krirav opened #844 "Stripe 3d secure"
Hi! Any plans adding Stripe V3 (with 3d secure) as an "official" payment module?

[2019-11-20 02:25] thiennn commented on #844
Just take a quick look. It seems not complicated. Will try to implement it in 1 or 2 coming weeks

[2019-11-21 09:23] mrnams commented on #720
@Maheshln3 @thiennn @alinooshabadi  @afernandes  Any plan to implement it??

I am sorry for multiple messages, I know everyone is busy with something other task.
But guys I really surprised for this issue, since this is most essential feature to have in any application where users registration is required.
Also this is pending for long

Hope we will see user registration module having option to re

[2019-11-21 20:34] oscararnoldo opened #845 "Error after clicking payment button"
Hi
I receive an error when I try to process an order. after clicking Payment button I receive the following error:   SocketException: No connection could be made because the target machine activaly refuse it

application stops working at the following lines:
55  return await gateway.ClientToken.GenerateAsync():
53 var model = new BraintreeCheckoutForm

by the way... GREAT PRODUCT

[2019-11-21 22:41] thiennn commented on #845
Please go to the /admin. On the menu in at the top, choose System --> Payment Provider. You can turn of Braintree. Or to make sure the setting for Braintree is correct

[2019-11-22 15:41] oscararnoldo commented on #845
Hi Thiennn, thanks for your quick answer. I did what you said. I turned braintree off, and I was to continue, I selected Stripe as payment method, I typed demo data into Stripe window, and when
payment process started application stop working at  file StripeController.cs line 84
line code:  <var charge = stripeChargeService.Create(new ChargeCreateOptions>

thanks in advance

[2019-11-26 11:42] thiennn commented on #845
Please make sure our Stripe configuration are correct

[2019-11-27 13:36] dmarciano commented on #720
The emailing is relatively simple.  However, SMS is more of an issue since you can't just send this from .NET (unless you have a GSM modem which just about everyone doesn't).  You would need a 3rd party API (e.g. Twilio) or you can try to use cell provider's SMS email addresses (e.g. Verizon has <phone_number>@vzw.com or something) but then users have to put in their cell carriers, and this isn't

[2019-11-27 13:41] dmarciano commented on #712
Personally, I've had bad experiences trying to make Angular sites that also interact with .NET sites/code/projects and have them be stables, fast, and work properly.  I would recommend either a Xamarin project so the app could work on UWP, Android, and iOS or a Blazor project; this is a website built using just .NET and can be setup to use server-side rendering which makes it more secure and reduc

[2019-11-28 19:45] oscararnoldo commented on #845
Hi Thiennn
I have verified values for private and public key if they have not changed from previous version. I mean they are correct

[2019-11-28 22:44] oscararnoldo commented on #845
Hi Thiennn. problem fixed. I was having issues with network restrictions... I was able to make it work

[2019-11-29 06:01] #845 closed

[2019-12-04 02:58] ghd258 opened #846 "update net core 3.1"
update net core 3.1

[2019-12-06 02:06] #846 closed

[2019-12-06 11:07] bugproof opened #848 "UPS shipping module"
UPS offers many ways to access the API (JSON, XML, SOAP) the easiest way would be to use included WSDL schemas and that should generate the client using Connected Service:

![image](https://user-images.githubusercontent.com/3116731/70318515-89509080-1820-11ea-9cd9-66814225e562.png)

I'm not sure if such generation tools exist for JSON/XML, so using JSON could be more work.

More info: https://www.

[2019-12-06 11:39] bugproof commented on #712
@dmarciano I had no problem at all, just make sure to use Typescript and some generator for your models and APIs 🙂... SPAs don't care what language you use for backend (C#, golang, rust, python)...

Blazor is still in an early stage so I wouldn't use it before the first stable client-side release. Xamarin is horrible to work with, sorry.

For native mobile app use flutter/react native or something

[2019-12-07 20:12] dmarciano commented on #848
Years ago I integrated with UPS and FedEx for generating prices and shipping labels.  I'm not sure about UPS, but I know FedEx (at least at the time) allowed you to develop in a sandbox, but to use their live services you actually had to get certified by showing your code didn't cause problems as well as provide them with samples of the generated labels to ensure it met their standards.  Just some

[2019-12-07 22:02] bugproof commented on #848
UPS allows you to develops in a sandbox as well fortunately

[2019-12-07 22:04] dmarciano commented on #848
I was referring more to the certification that FedEx had me go through.

[2019-12-07 22:09] dmarciano commented on #712
Blazor IMO is stable enough to use.  I've built an entire, professional website with it which was used for contractors to create blueprints with project estimates, invoicing, client/project management, QuickBooks/Stripe integration along with a SQL and MongoDB.  Blazor basically just compiled down to JS and uses SignalR for real-time communication, and can be designed either as a client-server mod

[2019-12-09 14:05] bugproof opened #849 "Shipping address shouldn't be always required"
Currently, in the `checkout/shipping` view, you have to fill the form in order to select the shipping method. It doesn't always work like that. Different shipping providers require different types of addresses or no addresses at all and just a specific code unique to that provider.

https://github.com/simplcommerce/SimplCommerce/blob/9c797f7011d93c9391250138310dae1b09d81ee9/src/Modules/SimplCommer

[2019-12-09 14:46] bugproof opened #850 "Separate invoice address and shipping address"
Invoice address/data can be different

[2019-12-09 15:44] pochtaliot opened #851 "deps.json issue"
Hi!
According to Getting started docs https://docs.simplcommerce.com/en/latest/getting-started/

`PM> Update-Database`
`Build started...`
`Build succeeded.`
`The specified deps.json [C:\Users\...\SimplCommerce\src\SimplCommerce.WebHost\SimplCommerce.WebHost.deps.json] does not exist`

Where can I get this file?

[2019-12-11 03:48] DebugOfTheRoad opened #852 "Can you add MySql Db support!"

[2019-12-11 03:51] DebugOfTheRoad opened #853 "When Use Ef migrations,can set auto migrations!"
every time when i create a new module,  and have some entitys,

according dotnet ef commond, (dotnet ef migrations add XXXX) for new modules,

at last , when the framework statrup, it will check new migrations ,and then update database!

[2019-12-11 14:44] hishamco commented on #852
Nothing stop you add MySQL. @thiennn can we add the support of MySQL, I can send a PR

[2019-12-11 14:44] hishamco commented on #853
This is cool, if it's doable

[2019-12-11 22:16] thiennn commented on #851
This is a auto generated file. Please try to do rebuild the application

[2019-12-11 22:18] thiennn commented on #850
On the check out page. There is checkbox "Use Selected Shipping Address As Billing Address", which is checked by default. Uncheck this and you can add the billing address

[2019-12-11 22:18] #850 closed

[2019-12-11 22:23] thiennn commented on #849
It seems ok, but I have a question. How the tax should be calculated in this case. That the moment, tax is calculated base on the shipping address: zipcode, or country/stateOrProvince

[2019-12-11 22:24] thiennn commented on #840
Yes, contributions are welcomed

[2019-12-11 22:25] #838 closed

[2019-12-11 22:27] thiennn commented on #848
Yeah, can't way to see the PRs

[2019-12-12 00:30] thiennn commented on #852
http://docs.simplcommerce.com/en/latest/working-with-databases/

There are already some sql scripts for mysql also

[2019-12-12 00:36] hishamco commented on #852
I  just seen SQL Server & Postgres, but not MySQL there

[2019-12-12 01:18] bugproof commented on #849
Shipping provider module that disables address could implement some interface that chooses how the tax is calculated maybe. There are few providers which have tax APIs. Maybe There's some better option

[2019-12-12 09:57] #796 closed

[2019-12-12 10:08] fhebel commented on #840
Any suggestions/preferences for the implementation? As a separate new module or as part of an existing module?

[2019-12-12 10:30] hishamco commented on #840
IMHO

1. Should go in layout page aka master page

2. Should go in Dashboard

3. Should go in Dashboard

[2019-12-12 13:41] bugproof commented on #441
Looking at the other platforms:

With the ability to select period of time, range of dates (today, month, year etc)

- Users online in the last 30 minutes
- Active shopping carts in the last 30 minutes
- Products out of stock
- Awaiting returns/exchanges (blocking issue: https://github.com/simplcommerce/SimplCommerce/issues/512)
- Abandoned shopping carts
- New customers
- New subscriptions (email

[2019-12-13 15:08] dmarciano commented on #848
@bugproof I just checked and, yes, UPS requires you to get "certified" by them.  On [this page](https://www.ups.com/us/en/help-center/sri/developer-instruct.page?) it states in step 3:

3. **Move to Production:** Once files have been submitted and approved by the UPS certification team, production access is granted.  The -email address for submitting files is included with the most current Develop

[2019-12-13 18:35] bugproof commented on #848
@dmarciano  from their page:

do you know what it means exactly? What files to you need to submit?

[2019-12-13 18:50] dmarciano commented on #848
I don't know for UPS specifically as I never used them for a production application.  However, for FedEX, the requirements were that I had to submit anything the application printed out (e.g. shipping labels) to ensure that they met their standards (e.g. formatted correctly, clearly printed, etc.).  If I remember correctly, I also had to submit a copy of the code that used FedEx's API to ensure th

[2019-12-14 00:31] fetullahyldz opened #854 "Delete Multiple Records With AngularJS Using"
How to delete multiple records from Grid data using Web API, AngularJS.

[2019-12-14 00:35] fetullahyldz commented on #854
This way takes null

   [HttpPost("ProDelete")]
        public async Task<IActionResult> Delete(string[] itemList)
        {
            long[] id = null;
            if (itemList != null)
            {
                id = new long[itemList.Length];
                long j = 0;
                foreach (string i in itemList)
                {
                    long.TryParse(i, out id[j++]);

[2019-12-14 00:37] fetullahyldz commented on #854
<th> <a ng-click="vm.deleteAllProduct(vm.products)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> {{::vm.translate.get('Delte Products')}}</a></th>

      <td><input type="checkbox" id="check1" name="itemList" ng-true-value="{{product.id}}" ng-false-value="''" ng-model="product.selected" ng-checked="all"/></td>

 vm.deleteAllProduct = function deleteProduct(list) {

[2019-12-14 00:39] fetullahyldz commented on #854
![Adsız](https://user-images.githubusercontent.com/6751949/70840438-56f7f200-1e23-11ea-93f6-46afdbb99c0a.png)

[2019-12-14 14:09] #854 closed

[2019-12-17 10:08] bugproof opened #855 "Switch to PostgreSQL as a default database"
It has a less restrictive license and you can use it completely for free, unlike SQL Server.

It suits more to open-source projects and it has a great JSON support too.

[2019-12-19 11:44] bugproof commented on #343
Better admin UI would be nice... I will maybe do this after I finish the shop.

[2019-12-30 02:37] oscararnoldo opened #856 "Order's items do not show when you try to add a shipment."
When you select an order and you try to add a shipment. items do not show in the page. so no shipment can be added.

[2019-12-30 23:16] #856 closed

[2020-01-02 23:38] oscararnoldo opened #857 "new products can not be added to default warehouse or even a new one"
when you try to add products to a warehouse, a red window appears but no error message is shown. so you do not know the reason why product can not be added.

[2020-01-04 14:32] thiennn commented on #857
Please check the error message in the Chrome Developer Tools or in the Console/Debug log. I work fine on my side

[2020-01-07 17:21] oscararnoldo commented on #857
Hi Thien

I have done what you said. I was able to see errors in Chrome console.  there are an error on api when
you select a default warehouse in "Manage warehouse products" option, an error arise and many others when
you try to add a product to default warehouse. I will debug the application and let you know.

________________________________
De: Thien Nguyen Le Quynh <notifications@github.com>

[2020-01-10 10:16] s0uven1r opened #858 "An error occurred while starting the application. SqlException: New transaction is not allowed because there are other threads running in the session."
Microsoft.EntityFrameworkCore.ChangeTracking.Internal.StateManager.SaveChangesAsync(IList<IUpdateEntry> entriesToSave, CancellationToken cancellationToken)
Microsoft.EntityFrameworkCore.ChangeTracking.Internal.StateManager.SaveChangesAsync(DbContext _, bool acceptAllChangesOnSuccess, CancellationToken cancellationToken)
Microsoft.EntityFrameworkCore.SqlServer.Storage.Internal.SqlServerExecutionStr

[2020-01-12 08:06] jpb4815 commented on #857
This is the same error as #843, if you take the update and rebuild it should fix that

[2020-01-12 13:55] #858 closed

[2020-01-12 19:13] jpb4815 opened #859 "Unable to add Migrations"
I am trying to add some changes for a Delivery Service and When I add the classes(Domain Models) and Inherit either EntityBase or EntityBaseWithTypedId<long> for the ones with F Keys Entity framework is throwing a multitude of errors. I make the changes, build then I run Add-Migrations in the Package Manager console. If the migration is successful(about 1 in 3 times) I get prompted to Update the d

[2020-01-12 21:58] fhebel opened #860 "Docker question: How are images in user-content supposed to work in containers?"
Ciao ragazzi,

I'm trying to bring my online-shop to production using docker. Every time you upload images for widgets or products, a copy of it is stored in src/SimplCommerce.WebHost/wwwroot/user-content.

How is this supposed to work once you dispose the old container & deploy a new one?

Thanks a lot in advance.

Tanti saluti

Florian

[2020-01-13 02:31] thiennn commented on #859
You might want to try delete the database and run Update-Database again

[2020-01-13 02:38] thiennn commented on #860
The are some approaches for this:
1. Mount folder, mount a folder in the host to a folder in the docker container
2. Using cloud services, Azure Blob and AWS S3 modules already there. http://docs.simplcommerce.com/en/latest/amazon-s3/

[2020-01-13 05:17] jpb4815 commented on #859
I have tried that repeatedly

On Sun, Jan 12, 2020 at 9:31 PM Thien Nguyen Le Quynh <
notifications@github.com> wrote:

[2020-01-13 05:27] thiennn commented on #859
Can you share the domain model and the mapping?

[2020-01-13 08:55] fhebel commented on #860
@thiennn Thanks a lot! Sorry that I bothered you again with a stupid question.

[2020-01-13 08:55] #860 closed

[2020-01-13 09:00] fhebel commented on #855
I'm in favor of your proposal.

[2020-01-13 09:31] thiennn commented on #860
@fhebel It's ok. No one know anything

[2020-01-13 16:34] oscararnoldo commented on #857
Thanks John

________________________________
De: John Brown <notifications@github.com>
Enviado: domingo, 12 de enero de 2020 02:06
Para: simplcommerce/SimplCommerce <SimplCommerce@noreply.github.com>
Cc: oscararnoldo <oscar.arnoldo@hotmail.com>; Author <author@noreply.github.com>
Asunto: Re: [simplcommerce/SimplCommerce] new products can not be added to default warehouse or even a new one (#857)

[2020-01-14 01:44] oscararnoldo opened #861 "Error when trying to download an invoice from an order"
Enter as administrator user
select an order,
press dowload invoice button ,
an ERROR HTTP 500 appears

[2020-01-14 01:50] thiennn commented on #861
Did you follow the docs http://docs.simplcommerce.com/en/latest/notes-for-export-pdf/

[2020-01-15 00:02] oscararnoldo commented on #861
Hi Thien
I have read the docs and I have copied file libwkhtmltox.dll to folder C:\inetpub\wwwroot\wwwroot and I keep receiving
the error.   simplcommerce application is installed as Default web site. in IIS 7.0

________________________________
De: Thien Nguyen Le Quynh <notifications@github.com>
Enviado: lunes, 13 de enero de 2020 19:50
Para: simplcommerce/SimplCommerce <SimplCommerce@noreply.gi

[2020-01-15 01:42] hishamco commented on #855
Perhaps SQLite is the best choice, it's file-based, simple & lightweight for demo

[2020-01-15 03:48] thiennn commented on #861
Put in the C:\inetpub\wwwroot ? In the root folder of the website and the version must match the version of your OS (86 or 64)

[2020-01-15 09:22] bugproof commented on #855
@hishamco SQLite is fine but I don't think I would use it for e-commerce. And people are usually interested in using the shop in production. Postgresql has a much more active community and is easier to scale

[2020-01-15 15:01] carlosperez1986 opened #862 "Why can't I edit a view while I'm debugging?"
How can i fix this? to modify the view I have to recompile the whole solution again. Work with vs on mac and it's a bit chaotic

i'm using this: https://docs.microsoft.com/es-es/aspnet/core/mvc/views/view-compilation?view=aspnetcore-3.1, but no work.

thanks!

[2020-01-16 01:01] oscararnoldo commented on #861
what would be the root folder is SimplCommerce application is installed on default website on IIS?

[2020-01-25 02:36] oscararnoldo opened #863 "No reference for emaling complete order to buyer"
code for OrderEmailService.cs shows complete order can be send by email to buyer, but no reference is found in order or checkout controllers

[2020-01-26 01:37] oscararnoldo commented on #863
Hi. I have found a non orthodox way to implemen it. if anybody is interested to know me please write me.

[2020-01-26 01:37] #863 closed

[2020-01-27 03:32] oscararnoldo opened #864 "Order History does not show product images"
When user wants to see his order history. orders are listed but no product images are shown.

[2020-01-30 00:00] oscararnoldo commented on #857
hey John is there a way to pay again  order with PaymentPending status

[2020-01-31 02:33] unencode commented on #491
Is there a way to show this category filter with sub categories on the CategoryDetail page?

[2020-01-31 02:34] unencode opened #865 "Category Filter with SubCategories on CategoryDetail Page"
Is there a way to show this category filter with sub categories on the CategoryDetail page?

Like it was done for the search page here: https://github.com/simplcommerce/SimplCommerce/issues/491

[2020-02-01 12:13] mithang opened #866 "How to add payment vnpay?"
Hi, how to add payment vn pay?

[2020-02-01 12:26] mithang opened #867 "How to add logistic?"
How to add logistic?

[2020-02-02 17:24] softwareguy74 opened #868 "Does adding new module restart the host?"
I was curious if when adding a new module is it causes a restart of the app host which would bring the whole site down for an instant.  I'm hoping it doesn't.

How many modules can realistically be added?

[2020-03-01 14:58] thiennn commented on #868
At the moment, you have to to restart the app after add/remove a module.

You can add as many modules as you want

[2020-03-01 14:58] #868 closed

[2020-03-01 14:59] thiennn commented on #867
Please describe more details

[2020-03-01 15:07] thiennn commented on #866
SimplCommerce hasn't support vnpay. However it is not complicated to develop a new module for it.

[2020-03-01 15:07] #866 closed

[2020-03-01 15:42] #864 closed

[2020-03-01 15:46] thiennn commented on #862
Because the views only copied to the WebHost on build. A possible work around is modify directly views in the WebHost (copy views in modules to the Themes in WebHost as the instruction below)

If you want to change the html structure of some particular views. Then following the origin views' structure, create your own views in your theme folder. It will override the original one. Not overrided vie

[2020-03-01 15:49] thiennn commented on #865
I think it's possible, will look in to this soon

[2020-03-01 15:52] thiennn commented on #861
I haven't install on IIS for a long time. But the root folder of the website is the folder that contains the appsettings.json

[2020-03-01 15:52] #861 closed

[2020-03-01 15:52] #859 closed

[2020-03-01 15:55] thiennn commented on #857
track in #721

[2020-03-01 15:55] #857 closed

[2020-03-01 15:58] thiennn commented on #853
This should be handled as part of module installation. I had this in mind, but haven't got time to implement

[2020-03-01 15:58] #853 closed

[2020-03-01 15:58] #851 closed

[2020-03-01 16:03] thiennn commented on #852
@hishamco There are in the Database folder and in the SampleData module. However I not very sure they are all up to date

[2020-03-01 18:55] jducobu opened #869 "Manage localization in the url"

[2020-03-01 19:10] hishamco commented on #869
This is duplicate of #591

[2020-03-01 19:10] #869 closed

[2020-03-03 18:19] jducobu commented on #865
duplicate of #546

[2020-03-04 15:58] rafsanulhasan opened #870 "Can we port it for Blazor Server?"
Can we port port this system for both Blazor Server and Blazor WASM?

[2020-03-04 16:04] rafsanulhasan opened #871 "GraphQL support"
Hi @thiennn,
Hope you are doing well.

I tried it with a GraphQL and succeeded...
Even we can try gRPC also

GraphQL will let us decrease data transfers hugely since it gives us the ability to only return the data we need. Additionally, we can bring real time functionality for some modules like Ordering , Order tracking and so on....

[2020-03-04 16:15] rafsanulhasan commented on #593
Yes to multi tenancy. Though I agree with @thiennn that it would add more complexity, I think this an essential-to-have feature because in most of the cases, as far I dealt with customers, customers request for this feature because for a multi-region or multi-branch e-commerce system, multi tenancy is becoming increasingly requested feature nowadays...

[2020-03-04 16:36] rafsanulhasan commented on #552
@thiennn I think using tag helpers over razor syntax make the code more readable.  (its not about tag helpers vs partial views)

Consider the following code snippet for rendering partial views using tag helpers instead of razor syntax
[code]
###OVER
[code]

Tag Helpers simplifies the code and makes it more readable while HtmlHelpers (Razor) makes it hard to read and maintain.

Look at the followin

[2020-03-04 16:42] rafsanulhasan commented on #343
I would rather prefer [SmartAdmin](https://wrapbootstrap.com/theme/smartadmin-responsive-webapp-WB0573SK0) template for any logged in panels like admin/user panels

[2020-03-04 21:59] rafsanulhasan commented on #343
@MicroAsif well, that right. in that case ngx-admin is preferably a better choice than admin-lte because it is vast and has a lot of controls than admin-lte has.

[2020-03-04 22:08] rafsanulhasan commented on #343
@MicroAsif well, that right. in that case, as @bugproof stated, ngx-admin is preferably a better choice than admin-lte because it is vast and has a lot of controls than admin-lte has.

More importantly, ngx-admin would be the right choice because angular is being used in this project. The amount of time and effort needed to integrate ngx-admin template into this angular project seems to be a way l

[2020-03-07 07:56] avjabalpur opened #873 ""CopyModuleTask" task failed unexpectedly"
Hi, I have cloned the application, 1-2 time that worked perfectly, but now after some days, when I tried to Build/Run then getting the following error

  Error	MSB4018	The "CopyModuleTask" task failed unexpectedly.
System.IO.IOException: The directory is not empty.

   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.Directory.DeleteHelper(String fullPath, Str

[2020-03-07 09:12] thiennn commented on #873
Please get the latest code

[2020-03-08 22:42] #873 closed

[2020-03-08 22:43] thiennn commented on #870
Yes, but at the moment, I don't have much effort to port :)
PRs are welcomed

[2020-03-08 22:49] thiennn commented on #871
Hi @rafsanulhasan ,

I think it is not worth supporting that. Rest API still serve us well and everyone familiar with rest.

Realtime support is another story

[2020-03-08 22:49] #871 closed

[2020-03-08 22:49] #867 closed

[2020-03-08 22:53] #862 closed

[2020-03-08 22:55] thiennn commented on #842
We don't have to use this build task any more

[2020-03-08 22:55] #842 closed

[2020-03-09 11:16] hishamco commented on #870
I can work on this, but I suggest to move this into small manageable PRs

[2020-03-12 00:32] rafsanulhasan commented on #870
I want to work on this

[2020-03-12 01:02] rafsanulhasan commented on #871
Hi @thiennn,
IMHO, I think its worth supporting RPC in addition to REST because performance matters a lot in real life scenarios because some devices consume device resources a lot. When client want to host this app into a shared hosting, where resources are limited, they can run into a huge performance issue which I faced when I deployed this app (a bit modified based on client requirement) into

[2020-03-12 07:15] hishamco commented on #870
Let us arrange things and see how can migrate this without breaking things

More ever we need to lIst what the changes we want to made to make this work as expected

[2020-03-13 21:40] Leonardo-Ferreira commented on #855
How are we on this?
here's my 2 cents: it really doesn't matter which is the default database, as long as it is simple/easy to switch. [Azure Sql Database](https://azure.microsoft.com/en-us/services/sql-database/) is a very attractive offering, both in terms of features as scalability, so I think people will choose it.

[2020-03-14 12:25] rafsanulhasan commented on #870
@hishamco Can you mention what you are up to till now and please share your action plan.

[2020-03-14 12:33] hishamco commented on #870
@rafsanulhasan I was thinking about this yesterday, can we chat on glitter to make the conversation interactive

[2020-03-15 04:53] rafsanulhasan commented on #870
Sure,  give me your preferable time

[2020-03-15 08:04] hishamco commented on #870
Just ping me when you are there

[2020-03-17 05:21] TalentVN commented on #747
Hi a.@thiennn ,
I have simple PoC to build basically ML model for product recommendation feature based on Amazon public DB set https://snap.stanford.edu/data/amazon0302.html
And build with ML Net framework and .Net Core 3.1 (Cannot compatible with .Net Standard 2.0)
And have some code to to integrate with SimplCommerce system. Can i submit a pull request for this?

[2020-03-20 18:10] jducobu opened #875 "Language switch using url"
To increase the seo, please manage to swich language using simplcommerce.com/{langcode}/whatever

[2020-03-20 18:14] jducobu commented on #855
I investigate already on it using docker composer. The problem is for the search (cs). If you search computer and th name of the category is Computer that not match and return no result.

[2020-04-01 23:04] Mr-alaa opened #876 "run the application on visual studio 2019"
Hi everybody when I try to run the application after a click on SimplCommerce.sln I got error that can't load the application and the SDK is not found despite I have dotnet --version 3.1.201 and modified the connection as written in the instructions How can I run it correctly

[2020-04-02 00:13] thiennn commented on #876
Hi @Mr-alaa which version of VS 2029 you are using. In the top Menu in VS, go to Help --> About Visual Studio. "Version 16.4.5" is what I am using.

[2020-04-02 00:28] thiennn commented on #876
Please get the latest code and try again. It should be ok now

[2020-04-02 00:28] #876 closed

[2020-04-02 12:19] Mr-alaa commented on #876
I have already got the last version but the same thing
For this comment which version of VS 2029 you are using. In the top Menu in VS, go to Help --> About Visual Studio. "Version 16.4.5" is what I am using.
will it be different ????

[2020-04-02 12:48] thiennn commented on #876
VS version >= 16.3.x is required for . NET Core 3.1

[2020-04-02 12:50] Mr-alaa commented on #876
I have vs Version 16.5.2 can you help me

[2020-04-02 12:52] thiennn commented on #876
Please take the screenshot and share to me

[2020-04-02 12:55] Mr-alaa commented on #876
![image](https://user-images.githubusercontent.com/20131615/78251624-e966f300-74f1-11ea-8deb-0433717a5557.png)

[2020-04-02 12:57] Mr-alaa commented on #876
![Annotation 2020-04-02 145554](https://user-images.githubusercontent.com/20131615/78251841-35b23300-74f2-11ea-9b05-4c2e88ba6e06.jpg)

[2020-04-02 12:57] Mr-alaa commented on #876
![Annotation 2020-04-02 1455542](https://user-images.githubusercontent.com/20131615/78251853-3a76e700-74f2-11ea-9fe9-8ddc9acef2be.jpg)

[2020-04-02 12:58] Mr-alaa commented on #876
![Annotation 2020-04-02 1455542](https://user-images.githubusercontent.com/20131615/78251924-55e1f200-74f2-11ea-8a32-7acdb2dfafe5.jpg)

[2020-04-02 12:59] Mr-alaa commented on #876
Can I share Skype and be thankful to you?

[2020-04-02 13:06] thiennn commented on #876
Please open the output panel. There should be some error log here

[2020-04-02 13:08] Mr-alaa commented on #876
![image](https://user-images.githubusercontent.com/20131615/78252822-bb82ae00-74f3-11ea-9fb5-21998c0e3c4c.png)

[2020-04-02 13:08] Mr-alaa commented on #876
despite i download it and i check the version using cmd

[2020-04-02 13:13] Mr-alaa commented on #876
done thanks i have fixed it thanks for your help

[2020-04-02 13:14] Mr-alaa commented on #876
does i need to run migration or only update database

[2020-04-05 20:55] fhebel commented on #865
Here's my proposal:

[diff_SimplCommerce_issue_865.patch.txt](https://github.com/simplcommerce/SimplCommerce/files/4434868/diff_SimplCommerce_issue_865.patch.txt)

[2020-04-05 21:09] fhebel opened #878 "Custom css (product-detail.css) for a particular theme"
Ciao ragazzi,

I'd like to make some changes in product-detail.css (mostly regarding colours), which come only into effect if a particular theme is used.
The original file is located here:
src/Modules/SimplCommerce.Module.Catalog/wwwroot/product-detail.css

I tried to put the file in
src/SimplCommerce.WebHost/wwwroot/themes/my-theme/css/
src/SimplCommerce.WebHost/wwwroot/themes/my-theme/module/cat

[2020-04-06 00:18] thiennn commented on #878
I suggest that you create a new theme for your changes. Please follow the document here https://docs.simplcommerce.com/en/latest/theme-development/

[2020-04-06 03:41] xiaopohou opened #879 "hey guys"
how can i use this project framework, i don't konw how can i use this beautiful project !!!! can you give a  demo for me ?  thank you  thank you !!!!

[2020-04-06 07:24] thiennn commented on #879
https://demo.simplcommerce.com/

[2020-04-06 07:35] xiaopohou commented on #879
have a background platform 入口（port）and account ？？

[2020-04-06 15:20] #879 closed

[2020-04-07 12:48] zaieda opened #880 "CORS problem"
How to activate cors in simplcommerce project in deployment server ?
many thanks.

[2020-04-07 12:53] zaieda commented on #332
we can use Blazor to create POS module

[2020-04-08 07:43] thiennn commented on #332
Looking forward to seeing your pull requests

[2020-04-08 07:57] hishamco commented on #332
@ammarzaied go for it

@zaieda I'm already discussed with @rafsanulhasan about Blazor in one of the issues, if you are interested we can chat via gitter

[2020-04-08 13:35] thiennn commented on #880
Just follow the docs from Microsoft https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-3.1

[2020-04-11 16:08] biapar opened #881 "Is there a showcase?"
Is there a showcase?

[2020-04-11 19:01] hishamco commented on #881
Here is a demo website: demo.simplcommerce.com

[2020-04-11 19:01] #881 closed

[2020-04-11 22:40] fhebel commented on #865
And here the localization of the breadcrumbs:

[diff_SimplCommerce_issue_865_breadcrumb_localization.patch.txt](https://github.com/simplcommerce/SimplCommerce/files/4465579/diff_SimplCommerce_issue_865_breadcrumb_localization.patch.txt)

[2020-04-14 08:32] fhebel commented on #878
Ciao ragazzi,

I'm going to answer this question myself (maybe I'll ask @thiennn for permission to improve the documentation in this regard):

Short answer:
It's not possible to only change a css, which is part of a specific module and not part of e.g. site.min.css.

Long answer:
In my case the product-detail.css was referenced by ProductDetail.cshtml, so the way to go was to have a custom Product

[2020-04-14 08:32] #878 closed

[2020-04-14 08:57] fhebel opened #882 "Sharing my idea of having ASPNETCORE_ENVIRONMENT visible"
CIao ragazzi,

for my theme, which is based on CozaStore, I added the possibility to show the ASPNETCORE_ENVIRONMENT in the upper left corner.

[diff_SimplCommerce_CozaStore_Environment.patch.txt](https://github.com/simplcommerce/SimplCommerce/files/4474219/diff_SimplCommerce_CozaStore_Environment.patch.txt)

In my context I'm setting the environment variable when I'm creating my Docker container,

[2020-04-20 20:19] rodriguez90 opened #883 "MySqlRetryingExecutionStrategy"
Hello community, I have the follo error at .develop custom payment provider. When insert one order fail de transaction in the order service.

Call Order Service from payment provider
![image](https://user-images.githubusercontent.com/15237850/79795769-6f709f80-8322-11ea-8393-f6c443ee68c6.png)

Order Service File

![image](https://user-images.githubusercontent.com/15237850/79795800-7e575200-8322-11

[2020-04-20 21:49] biapar commented on #881
Sorry,  I mean some real sites.

[2020-04-20 22:20] hishamco commented on #881
/cc @thiennn

[2020-04-22 21:04] danoman99 opened #884 "Administration widgets are not loaded."
Hello,
I have download and setup simplcommerce on my local computer, and started debug mode. Frontend - customers part of project was loaded correctly and I installed demo data, catalog working correct, but I have a problem with administration. After login as a admin, all widgets are not loaded and menu doesn't working. I have open a console and there are many errors:

Error: "[$compile:tpload] Fa

[2020-04-22 21:09] afernandes commented on #881
Websites use SimplCommerce
https://github.com/simplcommerce/SimplCommerce/issues/762

[2020-04-22 21:34] danoman99 commented on #884
Hi,
I have a new information, this issue is only in Firefox I have tried administration from Chrome, and its work correct.

I have little bit search on stackoverflow and find this:

https://stackoverflow.com/questions/14092833/how-to-have-a-local-html-file-make-xhr-cross-domain-requests-in-firefox-17

I need to toggle security.fileuri.strict_origin_policy to false by in "about:config" and now admi

[2020-04-22 21:35] #884 closed

[2020-04-24 09:09] #882 closed

[2020-04-24 09:22] fhebel opened #885 "Question: Purchase confirmation mail to the user"
Ciao ragazzi,

do I understand correctly, that for the purchase confirmation mail to the user I should extend the respective ExecutePayment method of my PaymentProvider at the point where the OrderStatus is finally set to "PaymentReceived"?

`                order.OrderStatus = OrderStatus.PaymentReceived;
                await _paymentRepository.SaveChangesAsync();
                await _orderEma

[2020-04-24 18:48] hishamco commented on #885
If I understand your question correctly, based on the `OrderStatus` you can send different emails to the user for example:

- The transaction is failed due incorrect payment
- The transaction is succeed
- ... etc

[2020-04-27 12:30] fhebel commented on #885
Thanks a lot @hishamco! Your answer shows me that I'm on the right track ...

[2020-04-27 12:30] #885 closed

[2020-04-27 12:37] fhebel opened #886 "Bug: Propagation of "IsProductPriceIncludeTax" in CartService.MigrateCart is missing"
[bug_cartservice_is_product_price_include_tax_missing.patch.txt](https://github.com/simplcommerce/SimplCommerce/files/4539603/bug_cartservice_is_product_price_include_tax_missing.patch.txt)

[2020-05-02 14:41] thiennn commented on #886
Hi @fhebel

Could you please create a pull request. It will be much helpful

[2020-05-04 00:05] #886 closed

[2020-05-04 00:05] #880 closed

[2020-05-04 00:06] thiennn commented on #865
Thank @fhebel

[2020-05-04 00:06] #865 closed

[2020-05-04 04:26] ndphuong opened #888 "Have any docker-compose file for this product"
Hi,

Have any docker compose to using SimplCommerce ?

[2020-05-04 15:59] hishamco commented on #888
/cc @thiennn

[2020-05-04 22:23] thiennn commented on #888
Not yet at the moment, a pull request is welcomed

[2020-05-05 09:03] Mike-E-wins opened #889 "PayPal Express on Demo Suffers Errors"
Greetings!

I am checking out your nifty solution here and everything seems to work great until I attempt to pay with PayPal Express.  I see in the code it is linked to `sandbox` so I got brave and decided to try. 😅

Here is what I see when attempting to do so on https://demo.simplcommerce.com/:

[code]

I did a search for "paypal" in your open issues and did not see anything obvious, so apologies

[2020-05-06 06:55] thiennn commented on #889
Which browser you are using. Just tested on Chrome, Windows 10 and it work fine. But before that I had update the ClientID, Secret to the correct value for Paypal Sandbox

[2020-05-06 07:28] Mike-E-wins commented on #889
Thank you for your reply @thiennn.  I am using your configuration as well, but I will need further explanation on what you mean by "But before that I had update the ClientID, Secret to the correct value for Paypal Sandbox" ... Where and how does one do this? :)  To be 100% certain, I am using the example site on https://demo.simplcommerce.com and not a localhost.

[2020-05-06 07:34] thiennn commented on #889
https://demo.simplcommerce.com/admin#!/payments/paypal-express/config login with the admin account, you will see the Paypal setting

[2020-05-06 07:42] Mike-E-wins commented on #889
Ah! OK... so the reason why it wasn't working for me is that someone had not gone into the administration center to supply PayPal Sandbox settings.  I was not aware that this is a requirement as it is not posted anywhere that I can see.  Maybe this will be useful going forward as someone will see this thread with this information.

The PayPal login box does now appear for me and everything seems t

[2020-05-06 07:42] #889 closed

[2020-05-06 11:26] fhebel opened #890 "Improvements and extensions of localizations"
Ciao ragazzi,

for my own purposes I have improved and extended in particular the localization in SimplCommerce. A lot of it was simply diligence work, some of it involved changes to interfaces, controllers, etc.

At this point in time I want to express my appreciation and gratitude to the community, thank the people who supported me (@thienn, @hishamco) and to give something back.

- Are the stak

[2020-05-06 12:10] fhebel commented on #840
I'll start to work soon on that ...

[2020-05-06 12:19] hishamco commented on #890
@ fhebel I need to refresh my mind little bit and check the latest changes in localization, AFAIK there's a default UI culture `Global.DefaultCultureUI` for the site, but I'm not sure for that Admin, because this is tricky little bit, because ASP.NET Core is using one cookie for localization per site

If your plan to support localization in the admin, please let me know we can discuss and see the